[2019-07-07 17:58] hotcher2 opened #15 "Strange issue with package:dependencies:install"
I am having an issue with one of my packages using a bash scripts that calls sfpowerkit:package:dependencies:install -k "1: 2:$KEY 3:$KEY" installing 3 dependencies for one of my unlocked packages.  The error says the InstallationKey is invalid for the 2nd package that attempts to be installed.  For a different unlocked package I have, these 3 dependencies install correctly with the plugin and I h

[2019-07-07 21:28] azlam-abdulsalam commented on #15
Thanks for raising the issue.
Interesting , is it possible to share the sfdx-project.json?  I have been seeing some timeouts.when trying to.query the package version recently, but not this.

[2019-07-07 22:42] hotcher2 commented on #15
Sure, I've replaced real package names with fakes, but this is the actual structure:

[code]

[2019-07-07 22:45] azlam-abdulsalam commented on #15
Thanks, in your scenario does acme-core and acme-commons utilise an installation key as well?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Al Hotchkiss <notifications@github.com>
Sent: Monday, July 8, 2019 8:42:03 AM
To: Accenture/sfpowerkit
Cc: Abdulsalam, Azlam; Comment
Subject: [External] Re: [Accenture/sfpowerkit] Strange issue with package:dependenci

[2019-07-07 22:58] hotcher2 commented on #15
Yes, core and common have installation keys but Pardot does not.  My bash script call to sfpowerkit is as follows where $KEY is passed in:

[code]

[2019-07-08 02:25] azlam-abdulsalam commented on #15
Created an issue AB#31 to track this.

[2019-07-08 02:28] hotcher2 commented on #15
Ok, I feel like an idiot.  I believe the issue was being caused by an error in a bash script.  I apologize for the inconvenience but thank you for taking the time to respond so quickly!

[2019-07-08 02:28] #15 closed

[2019-07-31 05:53] lmondigo opened #44 "Generate Picklist error not displaying which file has the error."
[code]

It would be very helpful if the error message points to which file the error is from.

[2019-08-06 02:56] azlam-abdulsalam commented on #44
Will be Fixed as part of AB#55, currently scheduled as part of v1.15

[2019-08-06 02:56] #44 closed

[2019-08-14 14:33] greenkeeper[bot] opened #75 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 14:36] greenkeeper[bot] opened #76 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-15 10:19] #75 closed

[2019-08-15 10:19] #76 closed

[2019-09-04 21:27] swood09 opened #87 "EISDIR error on sfpowerkit:project:diff command"
Getting `EISDIR: illegal operation on a directory, copyfile '.forceignore' -> '../temp'` when running `sfdx sfpowerkit:project:diff`
Directory structure is successfully created in ../temp but looks like it fails when attempting to copy over any files.

[2019-09-07 02:18] azlam-abdulsalam commented on #87
Thanks for raising the issue. Could you provide details of the OS Details?

@genoud  Can you look into the issue

[2019-09-10 23:31] manisfdcsfdx commented on #87
@swood09 is this happening when copying forceignore file?
can I get the OS details.

[2019-09-10 23:37] azlam-abdulsalam commented on #87
@swood09  Alternatively can you provide an alternate directory to the destination and check?

[2019-09-11 00:33] swood09 commented on #87
@manisfdcsfdx the error indicates that it fails on the .forceignore file. No other files get copied into the directory structure.
I am traveling so access my machine info. I know I’m running Mac OS 10.14.6 on my machine.... what other info should I get you? (Apologies... I am new to npm and SFDX)

[2019-09-11 00:36] swood09 commented on #87
@azlam-abdulsalam I did try another directory. Got the same error.

[2019-09-11 09:55] azlam-abdulsalam commented on #87
Fixed in 1.18.3

[2019-09-11 09:55] #87 closed

[2019-09-15 15:09] sfdcale opened #91 "ERROR running sfpowerkit:project:diff: Cannot read property 'push' of undefined"
when using the command `sfdx sfpowerkit:project:diff --revisionfrom=HEAD --revisionto=HEAD~10 -d test` if **revisionto** points to a merge commit, it is failing with below error:

[2019-09-15 21:40] azlam-abdulsalam commented on #91
Thanks for raising the issue, We have identified the root cause and will be releasing a patch shortly

[2019-09-16 05:37] azlam-abdulsalam commented on #91
Fixed in 1.18.4

[2019-09-16 05:37] #91 closed

[2019-09-16 18:39] bfalter opened #95 "sfpowerkit:project:diff not creating metadata files"
from within a sfdx project, I am running the command
`$ sfdx sfpowerkit:project:diff -d ../temp  -r HEAD~1`

This is generating the expected folder structure of the diffs, but is not actually creating the metadata file. The last folder (in this case, /classes) is empty.

Running the command with --json generates
[code]

sfpowerkit 1.19.1-1
MacOS 10.14.6

[2019-09-16 19:25] genoud commented on #95
Hello @bfalter ,
Thank you for raising the issue. Can you check if the output of the git diff command return some metadata? Run `git diff --raw  HEAD~1`.

[2019-09-16 19:27] bfalter commented on #95
Output of `git diff --raw HEAD~1`:

`salesforce/force-app/main/default/classes/AccountService.cls`

This matches the folder structure created by the sfpowerkit command

[2019-09-16 19:48] genoud commented on #95
I'm getting this error on windows when I run the command with a parent folder as output.
ERROR running sfpowerkit:project:diff:  path should be a `path.relative()`d string, but got "..\test\force-app\main\default\lwc\bikeCard\bikeCard.js-meta.xml"

Can you try with the -d parameter pointing on a folder located in the project directory?

[2019-09-16 19:55] bfalter commented on #95
with -d pointing at a folder within the project, the same behavior occurs. it creates the folder path but ends in an empty folder. --json output is also the same.

[2019-09-16 20:49] genoud commented on #95
Are you running the command from the root of the project folder?

[2019-09-16 20:56] bfalter commented on #95
@genoud yes, I'm running the command from the root of the project folder. If I navigate up 1 level I get the error `This command is required to run from within an SFDX project.`.

(thank you for all of your quick responses today, btw!)

[2019-09-17 05:04] sfdcale opened #97 "project:diff shows changes between same commit"
<img width="1675" alt="Screen Shot 2019-09-16 at 9 59 17 PM" src="https://user-images.githubusercontent.com/11079913/65012990-2ceb6e00-d8ce-11e9-82e1-cd2c0c317cf5.png">

Sorry for lot of masking in the above screenshot. When I do the command `sfdx sfpowerkit:project:diff -d test -r HEAD -t HEAD` it shows output with bunch of components but it should no changes as I am comparing same commit with it

[2019-09-17 06:17] azlam-abdulsalam commented on #97
Yep thats right, we will be throwing an error if we see the commit IDs are same

[2019-09-17 14:25] swood09 commented on #97
@sfdcale when you aren't specifying the same commit in to/from, is this command generating metadata files in the newly-created project directory?

[2019-09-17 18:25] sfdcale commented on #97
@swood09 I just realized it was my mistake. I didn't delete the destination folder before running the command.
Because I didn't delete the destination folder, it still has components from previous execution of command. We can close this.

[2019-09-17 18:31] sfdcale commented on #97
@swood09  When I don't specify revisionFrom and revisionTo parameters, I get this error :

Yes, I am seeing meta.xml files generated when I run the command with valid commits.

[2019-09-17 18:32] sfdcale commented on #97
@azlam-abdulsalam  It was mistake from my side to not clear the destination folder before running the command. You can close this issue, not sure if you want this to be open for something else.

[2019-09-17 18:33] genoud commented on #97
@sfdcale Yes, I noticed it and I pushed a fix to empty the destination folder when you run a command. And also throw an error message when one provide same commit.

[2019-09-17 19:28] swood09 commented on #95
@genoud is your previous comment suggesting that we should run this command always from a specific directory? So far we have tried in the main project folder, the parent, and a child, and always get the same result: the "new" project directory and subdirectories are created that match the diff, but no files are copied.

[2019-09-17 19:46] genoud commented on #95
The command should be run from the repository root, as the file path of a git diff command is always relative the the repository root.
That said, I could not reproduce this issue so far. May be it is relate to mac. I don't have a mac to test on it.

[2019-09-17 19:54] azlam-abdulsalam commented on #95
@manisfdcsfdx  Please have a look at this issue on Mac

[2019-09-17 19:58] azlam-abdulsalam commented on #97
A temporary fix has been applied in 1.18.5, which produces an empty diff folder when the from and to commits are same. We have planned an message output in later sprint

[2019-09-17 19:58] #97 closed

[2019-09-19 02:41] sfdcale opened #104 "no such file or directory, copyfile '.forceignore' -> 'test/.forceignore'"
[code]

Receiving the above error.

[2019-09-19 02:47] sfdcale commented on #104
workaround that is working for now is :
[code]

[2019-09-20 01:03] lmondigo opened #105 "Error handling for sfpowerkit:package:valid"
Error on sfdx sfpowerkit:package:valid

Source was successfully converted to Metadata API format and written to the location: /home/vsts/work/1/s/temp_sfpowerkit/mdapi
ERROR running sfpowerkit:package:valid: existing.Package.types is not iterable

[2019-09-20 04:04] azlam-abdulsalam commented on #105
Fixed in 1.18.7,
Thanks for raising the issue

[2019-09-20 04:04] #105 closed

[2019-09-24 03:07] azlam-abdulsalam commented on #104
@sfdcale  We have fixed this in our upcoming 1.20.X release and will hopefully hit the stable channel tomorrow. Thanks again !

[2019-09-24 03:07] #104 closed

[2019-09-24 18:30] swood09 commented on #95
@manisfdcsfdx any update on this issue?

[2019-09-24 21:02] azlam-abdulsalam commented on #95
We are yet to reproduce this issue, however we have couple of fixes in 1.20.X , Can you update to the latest version and let us know

[2019-09-25 19:07] bfalter commented on #95
@azlam-abdulsalam I've updated sfpowerkit to sfpowerkit 1.20.1-2

I'm now receiving the following error message when running:
[code]

[2019-09-25 19:47] genoud commented on #95
@bfalter this bug was fixed in 1.20.2. Either install it from npm or checkout the release branch.
Pushing a PR to fix it on master.

[2019-09-26 23:35] azlamsalam commented on #95
@bfalter, all good ? can we close this?

[2019-09-27 20:39] bfalter commented on #95
@azlam-abdulsalam unfortunately no. I installed 1.20.2 via npm and linked to sfdx. Running the command has a different behavior now. The command no longer creates the file structure. it creates the top-level output directory but without the file structure. json output is still empty. Running git diff confirms the existence of diffs.

[2019-09-30 12:40] azlam-abdulsalam commented on #95
@bfalter Can you explicitly pass the commit id's for parameters -r and -t, we are able to reproduce this one on mac

[2019-09-30 14:26] swood09 commented on #95
@azlam-abdulsalam we're seeing the same results when passing commit hashes for each parameter. Would it help if we did a video conference / screen share to demonstrate the behavior? I'd be happy to flex to your schedule if it helps us resolve the issue (if you can't tell, we're very eager to be able to use this command in our workflow).

[2019-09-30 14:36] azlam-abdulsalam commented on #95
that would be awesome, we were planning on a special debug build for you.. @genoud  let me know when we should get this done

[2019-10-03 14:35] azlam-abdulsalam commented on #95
Apologies for the delay, we will be sending you instructions for the debug build shortly

[2019-10-03 20:43] swood09 commented on #95
Thanks, @azlam-abdulsalam
@bfalter will be traveling for a few weeks, so I will be the one helping debug. Looking forward to hearing from you!

[2019-10-04 06:06] azlam-abdulsalam commented on #95
@swood09  can you do the following in the root of the project directory
1. sfdx plugins:install sfpowerkit@alpha
2. sfdx sfpowerkit:project:diff -r <commitfrom> -t <committo> -d <destination> >> output.txt
3. git diff --raw commitfrom committo >> gitoutput.txt

Please send both the output files to @azlam-abdulsalam

[2019-10-06 19:25] asneyap opened #112 "Profile merge: "No full name on profile component""
Hi,

When running sfpowerkit:source:profile:merge, only saves information for profiles that were not previously part of the project folder. For those that exist and should merge the information, it throws a "No full name on profile componente" for each one when loading the chunks.

That error message comes from the ProfileWriter class.

The result lists include all added and merged profiles but th

[2019-10-06 20:45] asneyap commented on #112
Fixed in src/impl/source/profiles/profileMerge.ts, before ln 636, add:

`        profileObj.fullName = profileObjFromServer.fullName;
`
I can create a Pull Request if you give me access to the repo.

[2019-10-06 23:00] azlam-abdulsalam commented on #112
Thank you for raising the issue. Wondering how it slip through. Will look into the test cases.

Assigning to @genoud  for a comprehensive review.

@asneyap  Would you be able to fork the repo and raise a PR?

[2019-10-07 13:06] payensa-sf commented on #112
Hi,

I forked the project and created a PR to your master.

Thanks for your excellent work with this plugin.

Regards.

[2019-10-07 21:24] azlam-abdulsalam commented on #112
Awesome, Thanks again

[2019-10-08 10:57] genoud commented on #112
Hello @asneyap, @payensa-sf ,

Thank you for the raising the issue and for the fix. I just did a review.

[2019-10-08 13:04] #112 closed

[2019-10-09 03:01] sfdcale opened #115 "ambiguous argument '0000000' when running project:diff command"
[code]

I am on latest sfdx and plugin version.

[2019-10-09 03:20] azlam-abdulsalam commented on #115
@sfdcale  n the revision from can you  pass the full sha id and observe whether the issue persists?

[2019-10-09 03:28] sfdcale commented on #115
@azlam-abdulsalam  Still same result.

Here is the command I tried.
[code]

[2019-10-09 03:36] sfdcale commented on #115
@azlam-abdulsalam  In spite of this error, diff is produced and written to the output folder but I haven't checked if the diff files are accurate.

Thanks again for creating this awesome plugin.

[2019-10-16 08:01] azlam-abdulsalam commented on #115
@sfdcale  Looks like its a message thrown by the git diff command which sfpowerkit uses. Can you confirm your directory is all good

[2019-10-17 03:15] lmondigo opened #124 "Permission Set inside .forceignore is generated when generating patches using sfdx sfpowerkit:source:permissionset:generatepatch"
. forceignore is not respected by generate patch command

[2019-10-17 07:23] lmondigo opened #125 "Generated permission set patch is 46. API declared in sfdx-project.json is 47"

[2019-10-17 13:32] azlam-abdulsalam commented on #125
Please use the --apiversion flag for generatepatch command. We will be updating it shortly

[2019-10-17 14:49] azlam-abdulsalam opened #126 "Update versions if any across the plugin to be compatible with v47.0"
If there are any hardcoded dependency tied to specific salesforce release,  find option to mitigate it and update commands such as package:valid to check using new version specifics

[2019-10-17 22:13] azlam-abdulsalam opened #128 "Update email and image URL of email templates so that different community urls per env can be handled"
Create a sfpowerkit:org:emailtemplate:update to support handling community links changes for static resources on  email  templates which change per environment

[2019-10-17 22:16] azlam-abdulsalam opened #129 "Migrate Profile commands from Beta to regular status"
Sfpowerkit profile commands such as profile:reconcile, merge, beta are in beta, We need better  documentation, updated  test cases and a full round of review / testing and documentation before we can elevate these commands to 'prod status'

[2019-10-17 22:20] azlam-abdulsalam opened #130 "Export test data with deeply nested parent records and with circular relationship"
The sfdx force:data:tree:export does not allow exporting data with multiple parent without manual edition of exported data. In addition the command export data only with one level deep.

The goal is to build a command that can be used to create a data set that can be used to populate a scratch with data need to test a feature.  The command should avoid manual manipulation of exported data.

[2019-10-17 22:22] azlam-abdulsalam opened #131 "Metadata retreivals are not displaying proper error message, if the target org doesnt contain the requested metadata"
This issue impatcts all retrieval commands, the command pull downs a zip file with the requested package.xml but it wont contain the requested metadata, so we have to checkout and extract the code and then warn the user appropriately or better update to utilize conn.metadata.readsync

[2019-10-17 22:32] #130 closed

[2019-10-17 23:12] sfdcale commented on #115
@azlam-abdulsalam  I haven't seen this message lately and I haven't been able to reproduce. We can close this issue.

[2019-10-17 23:29] azlam-abdulsalam commented on #115
@sfdcale  thanks for the update

[2019-10-17 23:29] #115 closed

[2019-10-18 06:49] azlam-abdulsalam commented on #128
I am thinking may be better we create a full fledged templating option which can replace  a string anywhere, say something that starts with a special characters like %sfpowerkit_email_url%

[2019-10-18 20:30] jhawk-kar opened #133 "source:profile:reconcile throws error when reconciling against an org"
Running `$ sfdx sfpowerkit:source:profile:reconcile -u targetOrg 'n profileName -d destinationFolder` throws an error:

The command works fine if you reconcile against the source only, but against a target org it fails.

sfpowerkit 1.23.1

[2019-10-19 10:39] azlam-abdulsalam commented on #133
Thanks for raising the issue,  A  hotfix is released in 1.23.2 which address this temporarily,  as I have explicitly set the version to 46.0 instead of 47.0 which has some breaking changes in Tooling API.
Please update the plugin to 1.23.2

Will keep this bug open until we have a proper solution

[2019-10-19 11:21] jhawk-kar commented on #133
Thanks, @azlam-abdulsalam.  I tried with 1.23.2 and I'm still getting the same error message.  Looks like to readme references `--apversion` as a parameter for this command, but that is not supported, so just a note about that as well.

[2019-10-19 11:51] azlam-abdulsalam commented on #133
Can you confirm the plugin version to be 1.23.2 as I am not able to reproduce it?  If you're are using the plugin from the checked out  code, its only merged to release

[2019-10-21 12:13] jhawk-kar commented on #133
Running `$ sfdx plugins` lists sfpowerkit as 1.23.2.  I updated from `$ sfdx update`.  Is there a different way I should do the plugin update?

I also tried with the beta version (1.24.2-1) and I still get the same error.

My CLI core version is 7.28.7.

[2019-10-21 14:08] azlam-abdulsalam commented on #133
To help us debug, can you do the following,
1. Install alpha build with more logging statements, sfdx plugins:install sfpowerkit@alpha
2. Run sfdx sfpowerkit:source:profile:reconcile -u <org> --loglevel=debug  >> output.txt
and send us the debug statment

[2019-10-21 14:19] jhawk-kar commented on #133
Debug output
[code]

[2019-10-21 20:02] azlam-abdulsalam commented on #133
So it gets stuck at the reconciling fields?  I believe original Entity Definition issue is no longer there..

[2019-10-21 20:41] jhawk-kar commented on #133
Not sure. The same error still appears, it just didn't spit out in the debug log. It shows in the terminal window, though.

[2019-10-21 20:48] azlam-abdulsalam commented on #133
Thanks, is it a sandbox or scratchorg that you are reconciling?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Justin Hawkins <notifications@github.com>
Sent: Tuesday, October 22, 2019 7:41:14 AM
To: Accenture/sfpowerkit <sfpowerkit@noreply.github.com>
Cc: Abdulsalam, Azlam <azlam.abdulsalam@accenture.com>; Mention <mention@noreply.github.com>
Subject: [Ext

[2019-10-21 20:58] jhawk-kar commented on #133
Sandbox.  I'm going to play around with different orgs as well.  Our security model is not the norm, so I want to rule out environment being the problem.

[2019-10-21 21:26] jhawk-kar commented on #133
If I run the same query from the `entityDefinitionRetriever.ts` class using the dev console with the `Use Tooling API` box checked, I get the same error.

![image](https://user-images.githubusercontent.com/43937191/67243594-f0a7b200-f425-11e9-8759-fb9bef74163a.png)

Running a `COUNT()` query returns 3250 rows for `EntityDefinition` in our org.

I'm able to run the query with a limit of 2000, but a

[2019-10-21 22:02] azlam-abdulsalam commented on #133
Definitely, it is the problem, and till 47 this query didn't support Limits and Offsets, so I guess we have to change the code to fetch in batches.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Justin Hawkins <notifications@github.com>
Sent: Tuesday, October 22, 2019 8:26:05 AM
To: Accenture/sfpowerkit <sfpowerkit@noreply.github.com>
Cc: Abdulsalam, Azlam

[2019-10-22 02:12] lmondigo opened #136 "Documentation for -b param on generate picklist patch"
Update documentation on readme and --help to add the `-b` option when generating a picklist patch.

[2019-10-22 02:17] #136 closed

[2019-10-22 12:59] skhare25 opened #137 "Unable to install SFPowerkit"
**Describe the bug**

Issues while installing sfpowerkit plugin in Windows 10 machine. SFDX CLI is already installed in the system.

**To Reproduce**

Steps to reproduce the behavior:

From VS code terminal ,or command line , Entering below mentioned command

sfdx plugins:install sfpowerkit

**Expected behavior**

Sfpowerkit need to install properly.

**Screenshots**

Not applicable. Error message

[2019-10-22 13:05] azlam-abdulsalam commented on #137
Can you update to the latest sfdx cli version and try again?

[2019-10-22 13:08] skhare25 commented on #137
Already tried with latest cli version still faced same issue

[2019-10-22 13:08] azlam-abdulsalam commented on #133
We will be fixing this on priority. Most probably next week release.

[2019-10-22 14:08] #126 closed

[2019-10-22 14:18] #125 closed

[2019-10-22 16:26] skhare25 commented on #137
Tried again by uninstalling Visual Studio and CLI, after insallation it worked. Thanks for the help

[2019-10-22 16:26] #137 closed

[2019-10-22 16:49] swood09 commented on #95
Any progress? We've tried running the command with multiple log options selected, but no difference in output. We've also tried with absolute paths, relative paths, commit shorthand, direct commits (and upgraded to latest version of git, just to be sure). We're still just seeing the top-level directory created, but not sub-dirs and no files copied. CC @josephcarmello

[2019-10-23 08:25] azlam-abdulsalam commented on #133
@jhawk-kar  I have done a quick fix with Limits and Offset as with the v47 API. While this  will take a bit of cleanup and testing, would you be able to test the alpha version to validate whether this PoC works well.

Install the review (alpha) build using the command  sfdx plugins:install sfpowerkit@alpha and let me know how it goes

[2019-10-23 10:06] azlam-abdulsalam commented on #95
I am awaiting feedback from internal folks who uses Mac in the test conditions. Is this happening in any other OS as well?

[2019-10-23 13:19] jhawk-kar commented on #133
Getting an error running the command with 1.25.2-0
[code]

[2019-10-23 13:35] azlam-abdulsalam commented on #133
Need to investigate why it didnt throw a compile error and error in my test runs :(
Fixed in 1.25.3-0,

[2019-10-23 18:47] jhawk-kar commented on #133
Thanks, @azlam-abdulsalam.  The reconcile command completed successfully this time.  However, when I went to deploy the profile to the destination that I reconciled against, it failed due several items still being listed in the profile that were not in the destination.  So far, it has complained about:

1. Tab Visibilities
2. App Visibilities
3. Layouts
4. Page Access
5. Class Access

I can open u

[2019-10-23 19:56] azlam-abdulsalam commented on #133
Can you raise a seperate issue and provide the logs as well.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Justin Hawkins <notifications@github.com>
Sent: Thursday, October 24, 2019 5:47:48 AM
To: Accenture/sfpowerkit <sfpowerkit@noreply.github.com>
Cc: Abdulsalam, Azlam <azlam.abdulsalam@accenture.com>; Mention <mention@noreply.github.com>
Subject: [Exter

[2019-10-23 20:42] jhawk-kar opened #139 "Profile reconcile not removing items against the destination org."
Using sfpowerkit 1.25.3-0 (alpha), the profile reconcile command does not remove all items from the profile that are missing in the destination org.

Ran command to retrieve profile from a source
`$ sfdx sfpowerkit:source:profile:retrieve -n "ProfileName" -u sourceOrg`

Ran command to reconcile against the destination
`$ sfdx sfpowerkit:source:profile:reconcile -n "ProfileName" -u destinationOrg -

[2019-10-24 20:05] azlam-abdulsalam commented on #95
@swood09  We are unable to reproduce this? Can you try a different machine ?

[2019-10-25 01:33] genoud commented on #139
This does not seems to be a bug. the components that are kept in profile are components that are found in the project from which you ran the command.

The reconcile command look for component in the project before looking in the target org, assuming that profiles will be deployed together with project components.

[2019-10-25 04:59] azlam-abdulsalam commented on #139
@jhawk-kar  Please find the alpha version 1.25.3.2 which has a minor fix as well,  Can  you update it and send in your feedack

[2019-10-25 12:34] azlam-abdulsalam opened #140 "Remove Azure Boards from markdown"
Remove Azure Boards Image from readme markdown

[2019-10-25 13:18] jhawk-kar commented on #139
@azlam-abdulsalam Hit an error `Maximum SOQL offset allowed in 2000`.  The total retrieve size was 3348, and the offset hit 2200 when the error surfaced.  Can the query been run in chunks of 2000 instead of 200 to reduce the number of offsets required?

@genoud When I read the documentation for the reconcile command, it made it seem as if it were going to look to reconcile against either the org,

[2019-10-25 14:19] genoud commented on #139
@jhawk-kar Yes, when you specified an org, the components are checked first in source then in the org if not found. The sourceOnly flag allow to check only in the source. May be we need to make it clearer in the doc.

[2019-10-28 09:39] azlam-abdulsalam commented on #139
@jhawk-kar Addressed this in the new alpha version, 1.25.3-4, Its being reviewed.. Please give it a spin

[2019-10-28 10:07] azlam-abdulsalam opened #141 "Refactor existing logs in other commands to utilize the new logging comands"

[2019-10-28 20:47] jhawk-kar commented on #139
I think we have a winner.  I was able to successfully reconcile against the target org and the profile deployed successfully to that org.  I'll keep working through different testing scenarios, as I think this command really helps out for our needs, but we are all set for now.  Thanks for your diligence in finding a solution.

[2019-10-28 20:55] azlam-abdulsalam commented on #139
Thanks again for your contribution, We will be merging this to the release/master branches once we are done with some reviews.
Please do switch to the latest stable version once it is done.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Justin Hawkins <notifications@github.com>
Sent: Tuesday, October 29, 2019 7:47:32 AM
To: Accenture/sfpowerkit <sfpowerkit@

[2019-10-29 00:29] #133 closed

[2019-10-29 12:18] #140 closed

[2019-10-29 18:10] sfdcale opened #146 "sfpowerkit:project:diff is ignoring Added files"
![Screen Shot 2019-10-29 at 11 06 25 AM](https://user-images.githubusercontent.com/11079913/67795933-55719680-fa3c-11e9-99f8-a78934d5cbc5.png)

As we can see in the screenshot, it is preparing output directory with only Modified files and ignoring Added files.

sfpowerkit 1.24.2
macOS 10.14.5

[2019-10-30 00:08] azlam-abdulsalam commented on #146
@sfdcale  Can you confirm whether the added files are actually present in the output directory, we have noted a bug with the logging, but files are actually created.
Just confirming if thats the case

@uvaisfdc fyi

[2019-10-30 01:02] genoud commented on #146
I was able to reproduce the issue with following steps

1. Create a repo
2. add a class
3. commit
4. edit the class
5. commit again
6. delete the class
7. commit again
8. run the command `sfdx sfpowerkit:project:diff -d output -r HEAD~2 -t HEAD~1`

The command copy files from the file system and if a file listed in the git diff is not present in the folder, you may have this issue.

We will improv

[2019-10-30 01:51] genoud opened #147 "Add support for customMetadataTypeAccesses and flowAccesses"
Need to support the following in profiles

http://releasenotes.docs.salesforce.com/en-us/winter20/release-notes/rn_forcecom_flow_mgmnt_access.htm
http://releasenotes.docs.salesforce.com/en-us/winter20/release-notes/rn_forcecom_development_custom_metadata_access.htm

[2019-10-30 05:43] #139 closed

[2019-10-30 05:43] #141 closed

[2019-10-30 09:31] azlam-abdulsalam opened #148 "Integrate Puppetteer for automating commands that do not have the equivalent metadata/tooling api support using a generic template"

[2019-10-30 11:39] thvd opened #149 "Can't deactivate standard scratch org matching rules"
**Describe the bug**
On a scratch there are 3 default matching rules. But you cannot deactivate them using the `sfpowerkit:org:matchingrule:deactivate` command.

**To Reproduce**
Steps to reproduce the behavior:

1. `sfdx sfpowerkit:org:matchingrule:deactivate -n Account`

**Expected behavior**
Expected that the default Account matching rule is deactivated. But it isn't.

[2019-10-30 18:27] sfdcale opened #150 "project:diff output says destructiveChanges.xml but actual file created is destructiveChangesPost.xml"
![Screen Shot 2019-10-30 at 11 23 54 AM](https://user-images.githubusercontent.com/11079913/67887200-1577e580-fb08-11e9-846e-9971de832942.png)

This might be a low priority one. The log(or output) says, it created `destructiveChanges.xml` but actual file created is `destructiveChangesPost.xml`

sfdx-cli 7.30.13 (core)
sfpowerkit 1.24.2
macOS 10.14.5

[2019-10-30 19:49] azlam-abdulsalam commented on #146
@sfdcale Thanks, Is @genoud 's understanding and the steps to reproduce it are correct?

[2019-10-30 19:52] azlam-abdulsalam commented on #149
@thvd  Do you have any duplicate rules on Account?  this should be deactivated before deactivating matching rules

[2019-10-30 20:29] sfdcale commented on #146
![Kapture 2019-10-30 at 13 25 47](https://user-images.githubusercontent.com/11079913/67896083-e28a1d80-fb18-11e9-8b94-3fce39621274.gif)

Here is the Gif showing it.

`diff` command is depending on actual files to be there locally. If files are not there locally, it is not creating anything in output folder.
It was just coincidental that in my original issue, it did not create Added files but this

[2019-10-30 20:39] sfdcale opened #152 "project:diff is just copying the current copy of local file to output directory and ignoring the actual changes between commits"
![Kapture 2019-10-30 at 13 35 39](https://user-images.githubusercontent.com/11079913/67896809-5b3da980-fb1a-11e9-80b5-a07692afd253.gif)

Here are the steps:

1. Take any file, make some changes and do a commit. lets call this **commit 1**
2. Make more changes to the same file and do another commit. lets call this **commit 2**
3. Make more changes to the same file and do another commit. lets call t

[2019-10-30 23:49] azlam-abdulsalam commented on #152
@sfdcale  This is same as the issue #146 , which will be fixed in the next release

[2019-10-31 08:27] thvd commented on #149
The duplicate rules are all deactivated:
![image](https://user-images.githubusercontent.com/973711/67930639-7a8f1200-fbc0-11e9-9cab-e37c1744dbfe.png)

The Account matching rule is active:
![image](https://user-images.githubusercontent.com/973711/67930657-88dd2e00-fbc0-11e9-8cab-f9f94d0d7fc6.png)

And when i run:
[code]

The result is:
[code]

[2019-10-31 09:41] azlam-abdulsalam commented on #149
Standard Rules cannot be deactivated using the command, as the metadata api do not support. Will fix the readme and error in the next release

The approach is to use custom duplicate rule and custom matching rules, deploy all of them as inactive, then utilize the commands  to activate once they are deployed

[2019-10-31 10:05] thvd commented on #149
@azlam-abdulsalam good to know, so there is no way to disable the standard rules with the API. That's disappointing.
Thanks for the quick responses anyway.

[2019-10-31 10:29] azlam-abdulsalam commented on #149
@manisfdcsfdx  Can you investigate whether this behaviour changed in v47? and add the details to the readme

[2019-11-01 00:24] azlam-abdulsalam commented on #149
@thvd looks like a candidate for puppetteer , will enhance this command to support this in subsequent release

[2019-11-01 10:57] qswh commented on #149
It would be good to turn off all those standard rules as it's not supposed to be used. It's more like a guided template to show the user how to configure it.

[2019-11-04 05:39] azlam-abdulsalam commented on #152
@sfdcale , @genoud  have just finished a Pull Request fixing this and undergoing review and testing.  Would you be able to install the alpha build using the command
sfdx plugins:install sfpowerkit@alpha and test the different combinations and provide feedback

[2019-11-04 05:40] azlam-abdulsalam commented on #95
@swood09  @bfalter  We have changed the inner working of this command to fix some other issues. Could you test the latest alpha build by using the command
sfdx plugins:install sfpowerkit@alpha and  let me know if the issue persists

[2019-11-04 18:51] swood09 commented on #95
I see new info on the command line, but did not see expected behavior.

--
Stephen Wood

[2019-11-05 01:20] #152 closed

[2019-11-05 02:14] sfdcale commented on #152
@azlam-abdulsalam  @genoud verified with alpha version and it looks good. Thanks for fixing it quickly.

[2019-11-05 08:16] #150 closed

[2019-11-05 08:26] #149 closed

[2019-11-05 13:08] #146 closed

[2019-11-05 13:13] azlam-abdulsalam opened #157 "sfpowerkit:project:diff command should only produce a destructivemanifest provided a flag is set"
Destructivemanifest is often troublesome and often manually created due to various dependencies. The destructive manifest generated using the command is sometimes inconsistent due to  not understanding the dependencies properly.

Though we can certainly invest in utilizing attributes etc, the first priority would be is to have a flag to generate destructiveChanges.xml and update the command readme

[2019-11-06 03:43] manisfdcsfdx opened #158 "sfdx sfpowerkit:source:picklist:generatepatch - Cannot read property 'info' of undefined"
**Describe the bug**
when generate picklist patch is command is ran in a sfdx project. command failed with "Cannot read property 'info' of undefined" error

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:source:picklist:generatepatch -p core -d src/core/main/default/objects/ -f -r --json

**Expected behavior**
picklist patch should be created.

**Actual behavior**
{
    "sta

[2019-11-06 12:54] #158 closed

[2019-11-15 23:37] #157 closed

[2019-11-15 23:38] #147 closed

[2019-11-18 13:11] azlam-abdulsalam commented on #95
closing this as we are not able to reproduce this one.

[2019-11-18 13:11] #95 closed

[2019-11-19 13:52] azlam-abdulsalam opened #164 "Destructive Manifest"
Helper command for deploying destructive Manifest to make it easy to deploy with out a project directory and creation of an empty package.xml file

The command would be sfdx sfpowerkit:org:destruct -m <filepath> -u <targetorg>

It copies the xml file provided as destructiveChanges.xml  in the temp folder, creates the empty package.xml and deploys it

[2019-11-19 23:28] #124 closed

[2019-11-21 14:05] #164 closed

[2019-11-21 21:09] genoud opened #166 "Diff command not generate destructiveChanges.xml file for deleted CustomLabels when -x flag set and no file deleted from the project"
**Describe the bug**
When Some labels removed from the CustomLabels and no other metadata component is deleted from the project, the command does not generate destructiveChanges.xml for deleted CustomLabels.

**To Reproduce**

- Create a project

- Add a CustomLabels.labels-meta.xml file with some custom labels
- Commit the changes
- Edit the CustomLabels.labels-meta.xml  and remove some custom la

[2019-11-24 07:03] #166 closed

[2019-11-24 07:05] azlam-abdulsalam opened #168 "Auth with user credentails is faiing"
**Describe the bug**
sfdx sfpowerkit:auth:login  is failing with message contents null

This is due to the changes in salesforce core cli

[2019-11-24 07:19] #168 closed

[2019-11-24 14:19] azlam-abdulsalam opened #170 "Command for code coverage validation for unlocked packages"
**Is your feature request related to a problem? Please describe.**

sfdx force:package:version:create has an new parameter option for codecoverage. However a command to validate whether the coverage meets validation percentage set by user does not exist.

**Describe the solution you'd like**
Create a command similar to  sfpowerkit:org:orgcoverage, reading the package version details from salesforc

[2019-11-30 01:45] azlam-abdulsalam opened #172 "Enhancement to diff command"
**Is your feature request related to a problem? Please describe.**

Project:diff currently operates on git diff, it comapres given versions of diff. However this command would be greatly beneficial if the command has some additional parameters that produces a diff against the org. This will help one to determine how the config is been drifted.

**Describe the solution you'd like**
A clear and conc

[2019-11-30 01:52] azlam-abdulsalam opened #173 "Optional Telemetry to track usage of sfpowerkit commands"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Utilize any analytic platform to capture usage metrics of sfpowerkit commands. Also provide an option to opt out if telemetry collection

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Imp

[2019-12-02 20:11] jhawk-kar opened #175 "project:diff command fails in Linux due to "head" reference"
When running `$ sfdx sfpowerkit:project:diff` in a Linux environment, the command fails due to referencing `head` in the `$ git rev-list` command.  Linux is case-sensitive and requires `HEAD` to be passed as the parameter.

- OS: Linux
- Version of sfowerkit: 1.29.1

[2019-12-03 22:42] #175 closed

[2019-12-07 01:09] azlam-abdulsalam opened #178 "Diff command generating incorrect sfdx-project.json"
**Describe the bug**
In a scenario, where multiple projects are mentioned in sfdx-project.json, and the diff doesn't generate any metadata changes for another project directory, it is unable to convert the source to mdapi  with similar errors

The path C:\Projects\force-di\src_delta\force-di-trigger-demo, specified in sfdx-project.json, does not exist. Be sure this directory is included in your pr

[2019-12-12 02:32] #178 closed

[2019-12-12 02:32] #170 closed

[2019-12-14 00:24] azlamsalam opened #183 "Org: manifest:build fails in a new org"
sfpowerkit:org: manifest:build fails to execute when applied on a new org with no deployments so far. It also fails if an unlocked package is the only deployed component

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:org: manifest:build against a new org
2. It will throw an exception
3. Install an unlocked package
4. Run the command with -x option
5. It will fail again

**E

[2019-12-15 23:02] genoud commented on #183
I was not able to reproduce this issue.
 I created a new Developer Org and run the command and did not get any error.
I also created an unlocked package and install in the org and did not get any issue.

[2020-01-04 10:47] ayadav4 opened #185 "Not copying files with name having spaces in delta directory"
Issue - Not copying files with name having spaces in delta directory

OS Agent  Ubuntu-16.04

file name example-Custom_object_name__c-NE No Bid Asset.layout-meta

[2020-01-07 07:46] azlamsalam commented on #185
@ayadav4  Thanks for raising the issue. Will be fixed in the next release

[2020-01-07 07:50] #185 closed

[2020-01-16 00:45] rody opened #188 "add sfpowerkit:source:style:format to format apex (and others) source files with prettier"
**Is your feature request related to a problem? Please describe.**

Now that [Prettier](https://prettier.io/) is the [official formatting tool for the Salesforce VSCode extensions](https://developer.salesforce.com/tools/vscode/en/user-guide/prettier/), it would be useful to have an sfdx command to format Apex code.
The support for Apex in prettier is provided by [prettier-apex-plugin](https://gith

[2020-01-16 03:45] rody commented on #188
Here are the step I use when configuring prettier on a sfdx project:

1. Initialise a NPN project in the sfdx project
`npm init`

2. install prettier and its dependencies
`npm install --save-dev prettier prettier-plugin-apex`

3. edit the standard `.prettierrc`file generated during `sfdx force:project:create`:
[code]
(I set the tabWidth=4 because the developer console is set this way).

4. add scr

[2020-01-18 16:49] genoud commented on #183
@azlam-abdulsalam Is this still happening?

[2020-01-21 03:06] azlamsalam opened #190 "JSON Output for diff commands"
**Is your feature request related to a problem? Please describe.**
It would be helpful if the current diff commands produce a JSON result file that encompass the findings of the diff tool along with the diff run.  One use case of this, it  could be utilized in a CI/CD run to check for compliance

**Describe the solution you'd like**
An output parameter to generate the result of the diff command as

[2020-01-21 03:23] maazinbeig opened #191 "sfdx sfpowerkit:project:diff between 2 commits - profiles related"
**Describe the bug**
Incorrect diff generated for profiles when using "sfpowerkit:project:diff" between 2 commits that contain changes on an object, apex class and profile.

The correct profiles get detected but generated profile file did not contain the "CustomMetadataTypeAccess" change made and an additional single tag: **< fullName/ >** gets created, throwing the below error while deploying:

"

[2020-01-21 16:45] blaskowski94 commented on #191
I believe CustomSettingAccess has the same issue. It was also added in 47.0.

I worked around the fullName issue by adding the fullName tag as the first line of every profile in our metadata. For example:

    <fullName>Profile Name</fullName>

[2020-01-22 03:12] #172 closed

[2020-01-28 22:22] azlamsalam opened #195 "Update package:valid to support v48"
**Is your feature request related to a problem? Please describe.**
Update the package:valid command to support newer additions if any in v48.0

**Describe the solution you'd like
Package:valid should support new updates as available in 48.0 such as standard value sets

[2020-01-29 00:26] genoud commented on #190
Already done. Closing this issue

[2020-01-29 06:49] lrmondigo opened #196 "Diff output support for event type components"
Using `sfpowerkit:project:diff`, I had changes on event type components. The generation of the diff works fine but the event file doesn't show up on the output list.

![image](https://user-images.githubusercontent.com/48669617/73334055-90d36980-42a6-11ea-9881-c80720b2d740.png)

[2020-01-30 02:42] azlam-abdulsalam opened #197 "Update default pmd version to 6.21.0"
The current default PMD version is 6.18.0. Need to update it to 6.21.0

[2020-01-30 02:47] azlam-abdulsalam opened #198 "Remove deprecated commands"
sfpowerkit:source:picklist:generatepatch and sfpowerkit:source:permissionset:generatepatch are deprecated as these issues were fixed by Salesforce. We had issued deprecation notice for all the users in Release 1.36.X. Hence it is time to remove these patches from the codebase

[2020-01-31 00:53] austinmyer opened #200 "ERROR running sfpowerkit:project:diff: Cannot read property 'startsWith' of undefined"
This is happening with Platform Event

[2020-01-31 01:08] azlam-abdulsalam commented on #200
@austinmyer  I presume from the description,  you are not able to include any Platform Events?

[2020-01-31 02:52] genoud commented on #196
This is because the log display by default file that changed. The other file is copied because it is the associated file without which the deployment will not work.
If you want to see those files, set the log level to **trace** and you will see all associated files copied along with the changed file.

[2020-01-31 02:54] genoud commented on #200
@austinmyer can you give more input on this issue and how to reproduce it?
Thanks

[2020-01-31 02:56] genoud opened #202 "Remove unnecessary arguments on diff command"

[2020-01-31 03:43] genoud commented on #196
I misunderstood the issue. Just pushed a fix

[2020-01-31 05:22] austinmyer commented on #200
Sory, my bad, its not the platform event, the PR for which we were doing the diff validation had the API name change. Can we have a look if diff is good with file name changes

[2020-01-31 05:40] lrmondigo opened #205 "Error on running diff when files are renamed"
**Describe the bug**
Cannot generate diff when some files are renamed.

**To Reproduce**
Steps to reproduce the behavior:

1. Rename a file.
2. Add and commit renamed file.
3. Generate diff.

**Expected behavior**
Renamed file should be included in diff.

**Screenshots**
![image](https://user-images.githubusercontent.com/48669617/73515144-344f8600-442f-11ea-89ee-a4089b5e98f4.png)

[2020-01-31 05:45] manisfdcsfdx commented on #205
@lrmondigo this is duplicate issue #200

[2020-01-31 05:48] lrmondigo commented on #205
Closing as they have seemed to identify cause of the issue as well.

[2020-01-31 05:48] #205 closed

[2020-01-31 08:04] azlamsalam commented on #200
@austinmyer Can you provide a step by step instructions to reproduce thi

[2020-01-31 13:04] austinmyer commented on #200
Describe the bug
Cannot generate diff when some files are renamed.

To Reproduce
Steps to reproduce the behavior:

Rename a file.
Add and commit renamed file.
Generate diff.
Expected behavior
Renamed file should be included in diff.

[2020-01-31 13:45] #191 closed

[2020-01-31 13:46] azlamsalam commented on #191
@genoud Do we have to update our profile: reconcile or retrieve for these as well?

[2020-01-31 13:48] #196 closed

[2020-01-31 14:01] genoud commented on #191
We already updated the profile reconcile and merge commands to take into consideration flowAccess and customMetadataAccess. We will need to add customSettingAccess to those commands. I will do that.
The retrieve command should normally work. But I tested and only flowAccess get retrieved even if set to false. CustomMetadata and customSetting accesses are retrieved only if set to true.

[2020-01-31 14:02] genoud commented on #191
We will need to add this also to permission set diff.

[2020-02-01 05:56] #202 closed

[2020-02-03 01:41] #195 closed

[2020-02-05 04:01] #197 closed

[2020-02-13 09:54] azlamsalam opened #212 "Command for compliance check of shapes between org"
**Is your feature request related to a problem? Please describe.**

Features/ Settings are often turned on manually in Sandboxes (greenfield)  or set as part of a refresh from production.  It would be nice to have a command that can do a compliance check against org or against a shape provide in .json file

**Describe the solution you'd like**
A clear and concise description of what you want to ha

[2020-02-13 11:35] #200 closed

[2020-02-24 16:45] blaskowski94 commented on #115
Just wanted to callout I am still seeing this error when running the diff command. Diff still appears to be generated correctly, not sure exactly why it's showing up.

[2020-02-25 03:02] genoud commented on #115
Hello @blaskowski94 . Which version of sfpowerkit are you using? I recently fix an issue on the diff command that was occurring when files was renamed. https://github.com/Accenture/sfpowerkit/pull/210.
Could this be the cause of this issue? Can you check if the git diff command is showing renamed files?

[2020-02-25 23:51] manisfdcsfdx opened #215 "Error: spawn sfdx ENOENT on sfdx sfpowerkit:org:scratchorg:usage"
**Describe the bug**
Scratch org usage command fails with Error: spawn sfdx ENOENT

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:org:scratchorg:usage -v devHub

**Expected behavior**
Active Scratch Orgs Remaining: 94 out of 100
Daily Scratch Orgs Remaining: 170 out of 200

IN USE  SIGNUP EMAIL
──────  ──────────────────────────────────
1       sample.user1@sample.com
1

[2020-02-26 01:59] #215 closed

[2020-02-27 23:27] manisfdcsfdx opened #217 "export Testclass run result in a csv or json format"
**Feature description**
we often run apex test classes from salesforce setup or developer console. but in order to export the test result in csv or json output it is not easy.

**Describe the solution you'd like**
make a tooling api call to get ApexCodeCoverageAggregate and process the result and present in a required way

**Describe alternatives you've considered**
there are couple of chrome exte

[2020-03-09 08:10] #217 closed

[2020-03-09 08:21] #190 closed

[2020-03-10 03:35] azlam-abdulsalam opened #219 "sfpowerkit:project Diff Commands fail if the xml in source is invalid without providing a proper error message"
**Describe the bug**
sfpowerkit:project:diff crashes with an exception if the xml in the target revision is invalid. This happens if the user has accidentally committed with merge conflicts or an invalid xml to the source code repository.

**To Reproduce**
Steps to reproduce the behavior:

1 Create an invalid xml and commit to the source code repository
2. Run  sfdx sfpowerkit:project:diff and not

[2020-03-11 23:17] azlam-abdulsalam opened #221 "Command to list the version number, namespace prefix and version id of all installed packages"
**Is your feature request related to a problem? Please describe.**
It is often required to compare the version numbers of managed packages that are across sandboxes to see whether they are all aligned. As a first step, it would be nice to have a command that lists all the packages in an org.

**Describe the solution you'd like**
An version:info command that lists all the package version installed

[2020-03-12 05:14] aly76 opened #223 "Update default pmd version to 6.22.0"

[2020-03-12 05:18] aly76 commented on #223
The new version of PMD is a pre-release to 6.22.0 (still technically 6.21.0).

[2020-03-12 05:35] aly76 opened #224 "Parse authentication credentials from a file instead of CLI arguments"
Modify the login command so that the password is read from a file - instead of command line argument. This adds an extra layer of security that prevents onlookers from gaining access to the org password.

[2020-03-12 05:39] aly76 commented on #224
Implement as an option that is activated by a 'parse-from-file' flag

[2020-03-12 05:50] aly76 commented on #223
Waiting for PMD to release 6.22.0...

[2020-03-12 23:33] azlam-abdulsalam opened #225 "Unable to retrieve managed package layouts using the manifest generated by manifest build"
**Describe the bug**

sfpowerkit org:manifest:build generates the layout name of managed packages as described in metadataList api, however the full name generated is not sufficient enough to retrieve the layout into source code

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:org:manifest:build -u <org>
2. Notice that managed package layouts are generated with the following

[2020-03-19 01:24] #221 closed

[2020-03-19 01:30] #225 closed

[2020-03-20 02:26] #219 closed

[2020-03-22 05:59] lmondigo opened #228 "Matching rule deactivation with JSON output has extra string at the end."
**Describe the bug**
Unnecessary string on --json result when deactivating matching rules.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a matching rule that will fail on deactivation.
2. Deactivate matching rule using sfpowerkit and add --json to the command.

**Expected behavior**
Only JSON format should be returned.

**Screenshots**
![image](https://user-images.githubusercontent.

[2020-03-24 02:41] manisfdcsfdx opened #229 "sfdx sfpowerkit:project:orgdiff failed with TypeError: Cannot read property 'inFolder' of undefined"
**Describe the bug**
sfdx sfpowerkit:project:orgdiff failed

**To Reproduce**
Steps to reproduce the behavior:
run orgdiff command in sfdx project having entitlement process, milestoneTypes and objectTranslations folder with fieldTranslation files

1. sfdx sfpowerkit:project:orgdiff -f src\common -c -u sandbox

**Expected behavior**
![image](https://user-images.githubusercontent.com/44075423/77382

[2020-03-24 02:42] manisfdcsfdx commented on #229
@genoud

[2020-03-24 15:27] lmondigo commented on #228
@azlam-abdulsalam @manisfdcsfdx have you checked this yet?

[2020-03-27 04:42] #229 closed

[2020-04-04 09:13] #228 closed

[2020-04-04 09:14] manisfdcsfdx commented on #228
@lmondigo issue addressed in beta version. test the command with beta command.

[2020-04-10 01:07] azlamsalam opened #240 "sfdx:org:destruct doesn't provide proper error message on failure"
**Describe the bug**
Upon using this command to deploy a destructive manifest in the org, if there is an failure due to an incorrect manifest, the command doesn't display the error logs

**To Reproduce**
Steps to reproduce the behavior:

1. Create a manifest file that will fail in the org
2. Use sfdx sfpowerkit:org:destruct  to deploy it
3. Note that it says the it failed to deploy, however the er

[2020-04-10 01:10] azlamsalam commented on #128
Closing this, as we await templating as a native feature in the CLI

[2020-04-10 01:10] #128 closed

[2020-04-13 03:45] azlam-abdulsalam opened #241 "Analyze Multiple Profiles and generate a report on the Field Access on an object"
**Is your feature request related to a problem? Please describe.**
Analysis of FLS and Object Permissions in an org sorted by profiles

**Describe the solution you'd like**
A helper command that provides access levels of objects, fieldpermissions, custommetadata recordtypevisibilities etc,  across multiple profiles which would help to analyze user's permission across a glance

[2020-04-13 04:59] azlam-abdulsalam opened #242 "ECONNRESET error in profile:reconcile/profile:retrieve"
**Describe the bug**
Especially across slower/large orgs, the profile retrieve/ reconcile command fails with a ECONNRESET command, preventing the operation to complete.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:profile:reconcile -u <large_org>

**Expected behavior**
Provide a clear error message saying the connection is terminated and the user to try again. It would be

[2020-04-13 05:08] azlam-abdulsalam opened #243 "Diff on Profiles in an org"
**Is your feature request related to a problem? Please describe.**
It is often required to compare profile across multiple sandboxes, either as a standalone org vs org or from source to org.

**Describe the solution you'd like**
sfpowerkit:org:profile:diff  -u <sourceOrg> -t <destOrg>
sfpowerkit:org:profile:diff -p <pathToProfile> -t <destOrg>
and provide diff markers

[2020-04-13 05:11] #129 closed

[2020-04-15 10:45] Panineduard opened #244 "sfpowerkit:auth:login failed if use specific symbols in the password"
**Describe the bug**
If you try to login with specific symbols in the password the console returns the error message
**is not recognized as an internal or external command**

**To Reproduce**

Steps to reproduce the behavior:
**[@>|]**
1. sfdx sfpowerkit:auth:login -u test@dev.org -p 1234|HeL>o@ -s 1231546  -r https://login.salesforce.com -a dev-org

**Expected behavior**
The system should log in

[2020-04-18 03:37] manisfdcsfdx commented on #244
@Panineduard can try passing the password inside single quote as a string '1234|HeL>o@'

[2020-04-20 03:43] #242 closed

[2020-04-20 03:47] #198 closed

[2020-04-23 08:40] Panineduard commented on #244
Hello @manisfdcsfdx

I already did it. It doesn't help.
![image](https://user-images.githubusercontent.com/12416215/80078219-42590280-8557-11ea-866d-9afac7acf510.png)

[2020-04-23 10:13] manisfdcsfdx commented on #244
@Panineduard thanks for the confirmation. We will check the issue in more detail.

[2020-04-23 10:32] aly76 commented on #244
Thank you for the update @Panineduard . I was able to resolve this issue on my Windows machine by encapsulating the password with double quotes `-p "1234|HeL>o@"`.

Could you check if this also fixes the problem on your end?

Cheers

[2020-04-24 22:19] RajaPaulIQVIA opened #251 "sfpowerkit:project:diff does not create the files in output folder"
**Description:**
I ran the following command:
**sfdx sfpowerkit:project:diff -r head~7 -d output -x --loglevel trace**

[code]
It is correctly identifying the files but it is not generating diff in the output folder and diff.json is empty and no files are created in output folder

**diff.json**
[]
**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:project:diff -r head~7 -d outpu

[2020-04-24 22:43] #223 closed

[2020-04-25 23:14] azlam-abdulsalam commented on #244
Thanks @aly76 for confirming. closing the issue

[2020-04-25 23:14] #244 closed

[2020-04-26 07:25] manisfdcsfdx commented on #251
I cannot reproduce the issue with above mentioned specification.

![image](https://user-images.githubusercontent.com/44075423/80300713-611ef980-87e2-11ea-8380-45562d86d252.png)

@RajaPaulIQVIA can you try in any other machine ?

[2020-04-26 22:47] RajaPaulIQVIA commented on #251
@manisfdcsfdx , I tried in another laptop with windows 10 and it still has the same issue. Apparently, I only have windows systems.
Can you try installing in sfdx in a fresh machine - Windows 10 and then install the plugin
sfdx plugins:install sfpowerkit
Screenshots :
Could you tell me why this issue may happen, am i missing any dependencies ?
![image](https://user-images.githubusercontent.com/612

[2020-04-26 22:49] RajaPaulIQVIA commented on #251
If you could tell me the steps where you installed the sfdx  and then got the plugin to work in a fresh machine, that would be helpful.

[2020-04-27 00:14] manisfdcsfdx commented on #251
@RajaPaulIQVIA just to check, can you test -r commitid and -t headcommitid. will help us to debug more.

[2020-04-27 01:16] genoud commented on #251
Hello @RajaPaulIQVIA
Can you check the sfdx-project.json file and check that there is a module starting with `ORG`?
The command check that files listed by git are located in packageDirectories.
Thanks

[2020-04-27 20:41] RajaPaulIQVIA commented on #251
@genoud
This is my folder structure :

![image](https://user-images.githubusercontent.com/61293133/80418637-599c4500-88f5-11ea-935a-44706ad6a691.png)

This is my sfdx-project.json

![image](https://user-images.githubusercontent.com/61293133/80418721-746eb980-88f5-11ea-822c-2ed01524c13c.png)

[2020-04-27 20:47] RajaPaulIQVIA commented on #251
@manisfdcsfdx

still the same output, no files are created

![image](https://user-images.githubusercontent.com/61293133/80419208-55245c00-88f6-11ea-97e5-ec670ee68e2c.png)

[2020-04-27 20:51] genoud commented on #251
As you can see the project contains one PackageDirectory with folder `force-app`. From what I ca see, your dx project is a subfolder in your repository. It should not be the case.  Files starting with `ORG/force-app/xxx`. Those file will not match during diff as the command expect files path  starting with `force-app/xxx`.
Are you using git submodules?

[2020-04-27 21:01] RajaPaulIQVIA commented on #251
@genoud  , i tried the command

```sfdx sfpowerkit:project:diff -r a0768b020d27d29401a4a2a22b22327d17026158 -t 70abb507ce0ca541e561b335528c52b71041eb75  -d output -x --loglevel trace -p ORG/force-app ```

Now i see lines like **Copied file ORG\force-app\main\default\objects\.....**

but the output folder is empty and diff.json is empty too

[2020-04-27 21:02] RajaPaulIQVIA commented on #251
![image](https://user-images.githubusercontent.com/61293133/80420504-7dad5580-88f8-11ea-96c8-dad8cacc9eb2.png)

![image](https://user-images.githubusercontent.com/61293133/80420542-8d2c9e80-88f8-11ea-9379-e4c6b03728f6.png)

[2020-04-27 21:19] genoud commented on #251
I guess you are running the command from the `ORG `folder.
Can you run the following command from that same folder and provide output?
`git ls-tree -r  70abb507ce0ca541e561b335528c52b71041eb75 `.

The `git ls-tree` command display file with their relative path base on the running folder. From ORG folder you will have something like
`force-app/xxxx`
While the `git diff`  command display the absolut

[2020-04-27 21:24] RajaPaulIQVIA commented on #251
**git ls-tree -r 70abb507ce0ca541e561b335528c52b71041eb75**

[code]

[2020-04-27 21:25] RajaPaulIQVIA commented on #251
@genoud I did not know there was a folder structure dependence on the tool, then i would have changed my dir struct.

but the tool should provide config to overcome this issue, ability to use it in different folder

[2020-04-27 21:26] genoud commented on #251
Just check the [ls-tree command documentation](https://git-scm.com/docs/git-ls-tree) and we can use the `--full-name` parameter to get the full path. That will solve your issue, as far as you will have to provide the `-p` parameter as you did.

[2020-04-27 21:32] RajaPaulIQVIA commented on #251
@genoud  yes, adding the --full-name adds ORG to the relative path
[code]

but my issue is not solved, the files are not getting created

[2020-04-27 21:33] genoud commented on #251
Sure. Will push a fix on the tool to solve your issue.

[2020-04-27 21:33] RajaPaulIQVIA commented on #251
@genoud ,  thanks a lot :)

[2020-04-27 21:41] genoud commented on #251
Created a PR for that. I instead make the diff relative. So you can skip the `-p` parameter.

[2020-04-28 00:14] manisfdcsfdx commented on #251
@RajaPaulIQVIA fix is released in beta version. you can install beta version to get the fix sfdx plugins:install sfpowerkit@beta. 1st week of may you will get general scheduled release.

[2020-04-29 00:02] manisfdcsfdx commented on #251
@RajaPaulIQVIA does the fix works for you ?

[2020-04-29 02:52] #240 closed

[2020-04-30 00:28] #251 closed

[2020-05-01 05:11] RajaPaulIQVIA commented on #251
@genoud  @manisfdcsfdx  , the beta version works splendid.. Thanks for the fix .. this is a great tool

[2020-05-04 19:05] jhawk-4 opened #256 "sfpowerkit:source:profile:reconcile throwing offset error when querying EntityDefinition"
**Describe the bug**
When running the `sfpowerkit:source:profile:reconcile` command, the command fails when doing a query of the `EntityDefinition` once the offset goes over 2000.  The count() query returns 7302 in our org.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:source:profile:reconcile -d ./output -n profileName -u targetOrg
2. command fails at EntityDefinition que

[2020-05-06 10:00] Panineduard commented on #244
Thanks. It helps in the Azure DevOps plugin too.

[2020-05-08 23:08] #148 closed

[2020-05-10 23:33] #256 closed

[2020-05-11 02:02] manisfdcsfdx opened #258 "Dependency CLI"
**Is your feature request related to a problem? Please describe.**
Often it is important to understand dependency structure of a specific component or a package to untangle the metadata or to understand the impact on dependents before making any modification on a certain components or a metadata

**Describe the solution you'd like**
create below commands to get dependency tree

*dependency for pac

[2020-05-11 13:28] azlam-abdulsalam commented on #258
@manisfdcsfdx
-   Can you elaborate on how the metadata id is resolved into qualified names?
- Whats the proposed output formats?
- Why should we have a variant when depenedency cli exists

[2020-05-11 13:57] azlam-abdulsalam opened #259 "Scratch Org Pooling"
**Is your feature request related to a problem? Please describe.**
Salesforce snapshot is delayed by couple of releases making scratch org based PR an incredibly painful affair after the project has grown into some size. It is also difficult when large managed packages are involved. We need an interim solution that can help us alleviate some of the pain

**Describe the solution you'd like**
I prop

[2020-05-11 23:10] jacobpeterson2012 commented on #259
Nice! Should we think about adding some sort of tagging or version to the SO build? For example, in our pool we have to expire them when we upgrade Vlocity and time this with changes in our repo.  This can be an issue if we want to run CI on a branch but our SO's are at a higher level.

[2020-05-11 23:14] azlam-abdulsalam commented on #259
Thats a good idea, do you reckon a single tat would be suffice for a specific user?

[2020-05-11 23:17] jacobpeterson2012 commented on #259
I'm thinking the build should:
- allow a "tag" to be associated with the SO record.
- in the fetch you can pass in a "tag" as a filter to allocate a SO.

[2020-05-11 23:37] azlam-abdulsalam commented on #259
@jacobpeterson2012 This is the schema I have been thinking, accommodating tag is going to be hard

`{
  "pool": {
    "default_expiry": 1,
    "config_file_path": "config/project-scratch-def.json",
    "script_file_path": "scripts/so_script.sh"

  },
  "poolUsers": [
    {
      "max_allocation": 2,
      "min_allocation": 1,
      "username": "emailid",
      "expiry": 7,
      "priority":2
    }

[2020-05-12 02:24] rody commented on #259
Is the pool going to be initialized only with the dependencies of the current project, or are we going with something more complex in the script?
If we limit ourselves to installing dependencies, we don't need a separate script file. The rest (data upload, ...) can be done through a CI that can poll new scratch orgs and do some specific work.

[2020-05-12 02:27] azlam-abdulsalam commented on #259
the script doesnt limit anything it passes in the Scratch Org username and the DevHub username

[2020-05-12 12:42] azlam-abdulsalam commented on #259
After a long conversation with @rody  and @jacobpeterson2012  there are couple of changes in the spec. i have updated the initial proposal

[2020-05-13 16:18] jhawk-4 opened #260 "Add include metadata types to sfpowerkit:org:manifest:build command"
**Is your feature request related to a problem? Please describe.**
In larger orgs, generating a full manifest is not always useful because doing a retrieve on that manifest will be over the 10K limit of items you can retrieve.  To get around this I have parsed the returned manifest to pull out metadata items of interest, or have done a retrieve on each individual metadata type.  Also, when doing a

[2020-05-13 16:21] reda-benhemmouche opened #261 "sfdx sfpowerkit:project:manifest:diff does not list removed metadata components"
**Describe the bug**
When i run sfdx sfpowerkit:project:manifest:diff command it does not detect removed components

**To Reproduce**
Steps to reproduce the behavior:
_package1.xml content (SOURCE):_

[code]

_package2.xml content(TARGET) :_
In this file, we remove **class1**,add **class4**, add **MyWorkflow3**

[code]

_The result is :_
[code]

**Expected behavior**
Expected result should reflect

[2020-05-14 08:32] #261 closed

[2020-05-14 08:33] manisfdcsfdx commented on #261
@reda-benhemmouche fix is available in beta. try sfdx plugins:install sfpowerkit@beta

[2020-05-14 09:30] manisfdcsfdx opened #263 "Command for adding Trusted Ip range in salesforce"
**Is your feature request related to a problem? Please describe.**
When login to scratch org or a sandbox with username and password, email verification is required, to avoid the issue Admin has to set Trusted ip for a given range to bypass the email verification. this command can help to set ip range under network access.

**Describe the solution you'd like**
This command sets trusted ip range in

[2020-05-17 13:23] azlam-abdulsalam commented on #260
@jhawk-4  thanks for the request! Definitely looks like a nice oneto have

[2020-05-17 13:26] azlam-abdulsalam commented on #183
Closing this issue  as its not reproduceable

[2020-05-17 13:26] #183 closed

[2020-05-17 13:27] azlam-abdulsalam commented on #131
@manisfdcsfdx  are we planning any further work on this segment?

[2020-05-18 00:59] manisfdcsfdx commented on #131
@azlam-abdulsalam need more details on it.

[2020-05-19 13:44] #263 closed

[2020-05-21 12:36] azlam-abdulsalam opened #265 "Incorrect error handling in package:valid"
**Describe the bug**
sfdx sfpowerkit:package:valid doesn't provide a proper error message when a provided package is empty or one of the packages in the repository is empty

**To Reproduce**
Steps to reproduce the behavior:

1. Create a monorepo with multiple packages with some of the package directories being empty
2.sfdx sfpowerkit:package:valid

**Expected behavior**
The empty package(s) should

[2020-05-22 06:44] azlam-abdulsalam opened #267 "sfpowerkit:package:version:codecoverage using incorrect org flag"
**Describe the bug**
sfdx sfpowerkit:package:version:codecoverage  is expected only to work against a devhub and not against any other org's. However it is using the -u flag which gives the expectation that it works against any org

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:package:version:codecoverage -i 04t2s000000LOsVAAW  -u <org>
This results in
HasPassedCodeCoverag

[2020-05-22 09:38] azlam-abdulsalam opened #268 "Display Test Coverage of unlocked package in Package:Version:Info"
**Is your feature request related to a problem? Please describe.**
 **package:version:info** when run should display code coverage details if available. This would be very helpful to display a comprehensive view.  This command needs to display these details even when run against a sandbox provided devhub details are provided as input

**Describe the solution you'd like**
Accept an optional input t

[2020-05-22 15:35] reda-benhemmouche commented on #261
Thank you for your support.

I install the beta and test again.
It seems that command sfdx sfpowerkit:project:manifest:diff is not working in the beta version !

[code]

[2020-05-23 14:27] #243 closed

[2020-05-23 23:25] #267 closed

[2020-05-25 00:11] azlam-abdulsalam commented on #173
Closing this as this issue is stale and didnt reach a consensus

[2020-05-25 00:11] #173 closed

[2020-05-28 22:33] azlam-abdulsalam commented on #258
A early version of the command  is now merged, it features a depenedency cli which can produce a json output of the depenendencies.

[2020-05-29 06:42] #259 closed

[2020-06-03 14:08] Majd-Soufan opened #278 "Delta package task does not work for branches with '/' in their names"
**Describe the bug**
The delta package task in ADO does not work when the branch name has '/' in it. Some company follow naming conventions when it comes to git branch naming. I normally name my release branch 'release/46v2'. The task runs the npx sfdx sfpowerkit:project:diff command.
The error showing is :

##[error]Unhandled: Command failed: npx sfdx sfpowerkit:project:diff -t  bc65ed514d5fe289d

[2020-06-03 23:10] vuha-acn opened #279 "Validation Rules for Manifest for sfpowerkit:org:manifest:build command does not output"
**Describe the bug**
Executing the sfpowerkit:org:manifest:build command, the expected result is there to be a "ValidationRule" type returned in the output file.

**For example:**

    <types>
        <members>Account.VR_Rule1</members>
        <name>ValidationRule</name>
    </types>

**To Reproduce**
Steps to reproduce the behavior:

Execute sfpowerkit:org:manifest:build against an org that has

[2020-06-04 11:17] manisfdcsfdx opened #280 "Generate Datamodel report and Datamodel diff"
**Is your feature request related to a problem? Please describe.**
When a project is growing it is always hard to track what is changed in datamodel frequently and get report on projects contribution to datamodel. These CLI commands would be handy to generates reports on datamodel

**Describe the solution you'd like**
*Datamodel report* - Generates datamodel report source project
`sfdx sfpowerkit:

[2020-06-05 03:33] mbathersby opened #282 "Error: Cannot find module '../../../../src/ui/progressBar'"
**Describe the bug**
Node error when trying to execute a profile diff

**To Reproduce**
Steps to reproduce the behavior:

Tried both:
- sfdx sfpowerkit:org:profile:diff -p "Admin, Standard"
- sfdx sfpowerkit:org:profile:diff -p "System Administrator, Standard User"

_Error: Cannot find module '../../../../src/ui/progressBar'
    at Function._load (C:/Users/matt.bathersby/AppData/Local/sfdx/client/

[2020-06-05 03:35] azlam-abdulsalam commented on #282
@mbathersby  while we debug this, can you switch to an older version? Also did you try a link vs sfdx plugins: install?

[2020-06-05 03:57] mbathersby commented on #282
Thanks @azlam-abdulsalam. Happy to keep playing around with v1.45. Will let you now if I come across any other issues.

[2020-06-05 04:06] azlam-abdulsalam commented on #282
We are able to reproduce it on windows.. working on the fix!

From: mbathersby <notifications@github.com>
Sent: Friday, 5 June 2020 1:58 PM
To: Accenture/sfpowerkit <sfpowerkit@noreply.github.com>
Cc: Abdulsalam, Azlam <azlam.abdulsalam@accenture.com>; Mention <mention@noreply.github.com>
Subject: [External] Re: [Accenture/sfpowerkit] Error: Cannot find module '../../../../src/ui/progressBar' (#28

[2020-06-05 04:16] manisfdcsfdx commented on #282
@mbathersby can you confirm other sfpowerkit commands are working for you .

[2020-06-05 09:06] manisfdcsfdx commented on #282
@mbathersby hotfix applied can you test and confirm if the command works.

[2020-06-05 10:51] RobinWeymans opened #286 "Retrieve profiles based on metadata in codebase"
Currently if you retrieve a profile, it has a lot of clutter. For example if you installed big apps from the app exchange. Fields permissions, app permissions of that app will be present in the retrieved profile and if you tried to deploy that profile to an environment without said app, it will obviously fail.

I currently have a solution but its written in bash. Thought this might be a good addit

[2020-06-06 23:42] azlam-abdulsalam commented on #286
@RobinWeymans  There is a similar functionality, however not as a single command, but a combination of these two commands will be effectively what you currently do.
`sfdx sfpowerkit:profile:retrieve` - To retrieve the profile with the full details from an org
`sfdx sfpowerkit:profile:reconcile -s` (Note the source flag, which basically reconciles a profile for only the metadata that you have in a

[2020-06-10 16:43] jclark-dot-org opened #287 "profile:retrieve, profile:merge use incorrect indentation, causing full-file diff"
**Describe the bug**
Given an existing git repo for an sfdx project, running `sfdx sfpowerkit:source:profile:retrieve -n "Profilename"` or `sfdx sfpowerkit:source:profile:merge -n "Profilename"` produces a new version of the `Profilename.profile-meta.xml` file which uses 2 spaces for indentation, unlike the 4 spaces for indentation generated by standard sfdx `source:pull` and `source:retrieve` ope

[2020-06-11 09:30] RobinWeymans commented on #286
@azlam-abdulsalam Oh wow. Yeah that's exactly what I was looking for. I'm going to use that for sure.
Thanks!

[2020-06-11 09:30] #286 closed

[2020-06-11 09:37] RobinWeymans opened #288 "Allow using wildcards to deploy metadata"
Would it be possible to implement an instruction that allows deploying metadata files matching wildcards?
Something like ```sfdx force:source:deploy -m Layout:Case-*``` to deploy all Case layouts.

The only option right now is to either deploy every layout, or a specific one.

[2020-06-11 19:34] crazynammer commented on #288
Have you tried to make a manifest file and put those selected Case layouts in the manifest file? That is a workaround option now like `sfdx force:source:deploy -u OrgAlias -x mainfest/packageCases.xml`

[2020-06-12 03:13] genoud commented on #278
Hello,

I was not able to reproduce this issue.

![image](https://user-images.githubusercontent.com/10148667/84460870-05e18300-ac39-11ea-99e5-3dccc7896555.png)

Can you reproduce that on you pc and provide more logs?
Thanks

[2020-06-12 05:32] azlam-abdulsalam commented on #287
Would additional parameters to git diff command help? Such as ignore spaces.

[2020-06-13 11:42] #282 closed

[2020-06-15 12:04] jclark-dot-org commented on #287
@azlam-abdulsalam Not especially.  When working on a team, and using multiple git-related tools, relying on a command line switch (or even a config option) isn't going to go well.  And as soon as you need to commit a change, you'll be picking up the changed indentation which will cause issues tracking down the source commit of real changes in the future (e.g., `git blame`).

Because these files ar

[2020-06-15 12:11] #265 closed

[2020-06-15 12:14] azlam-abdulsalam commented on #287
Yeah, agree, will look into it!

[2020-06-18 09:12] azlam-abdulsalam commented on #287
@genoud  Can you  have a look into this?

[2020-06-18 13:18] genoud commented on #287
Hey @azlamsalam . Yes sure, will have a look.

[2020-06-19 12:56] azlam-abdulsalam opened #290 "Overhaul Package Depenedency Install Command"
**Is your feature request related to a problem? Please describe.**
- package:dependencies:install needs to be enhanced to work in a mono repo scenario. The command if applied in a mono repo will install packages that are marked as a depenedency elsewhere even though the source code is present or supposed to be pushed
- The passing of keys to this command using the 1:key 2:key is also difficult
- T

[2020-06-19 21:24] EstebanRomero84 opened #291 "Include user permissions in profile retrive"
**Describe the bug**
When retrieving a profile with sfpowerkit:source:profile:retrieve, the xml file doesn't include the user permissions.

**Expected behavior**
Include user permissions in profile retrieve.

[2020-06-19 21:27] EstebanRomero84 opened #292 "Retrieve full permission set xml file the same way it does for profile files"
**Is your feature request related to a problem? Please describe.**
Allow to execute a persmission set retrieve that include all permissions, the same way it works for profiles.

[2020-06-22 12:06] azlam-abdulsalam commented on #291
@EstebanRomero84 Can you provide more details? Retrieve does include user permissions

[2020-06-22 12:35] EstebanRomero84 commented on #291
Hi @azlam-abdulsalam I'm connected to a sandbox and executed this command:

`sfdx sfpowerkit:source:profile:retrieve  -f force-app -n "Admin" --loglevel=debug`

The retrieve xml file include all other permissions, but not User Permissions (<userPermissions>)

After that, I executed a retrieve using a package.xml to retrieve that profile, and it does include User Permissions

I'm running sfpowerkit

[2020-06-22 19:32] genoud commented on #291
Hello @EstebanRomero84
We did not include user permissions for Standard profiles (Admin, Standard User...)  as those permissions are not editable from user interface in Salesforce.

[2020-06-23 14:12] #291 closed

[2020-06-23 15:14] manisfdcsfdx opened #293 "Enhancements to sfpowerkit:package:dependencies:install"
**Is your feature request related to a problem? Please describe.**
1. Support installing dependent packages that are created with dependency check. when dependency buildnumber is mentioned as .LATEST.

2. Enhancements to installationkeys to support mono repo multiple package structure. This format 1:MyPackage1Key 2: 3:MyPackage3Key... is ambiguous on mono repo scenarios.  This enhancement will sup

[2020-06-23 18:18] Majd-Soufan commented on #278
Try to run the delta package on branch that has '/' in its name, like 'feature/2341'
The delta package will only take the '2341' part of the branch name and ignore the rest @genoud

[2020-06-23 21:29] genoud commented on #278
Can you run the command with trace flag and provide logs?

[2020-06-23 23:11] azlam-abdulsalam commented on #293
Closing this as there is an open issue to track it

[2020-06-23 23:11] #293 closed

[2020-06-25 03:35] aly76 opened #296 "Checklist execute command"
**Is your feature request related to a problem? Please describe.**
Salesforce deployments always features manual steps and it is as critical as the code/metadata that is being deployed through pipelines.  One approach is to use a YAML file with the manual steps defined which could then be saved as a versionable checklist

Having defined a yaml schema for manual steps required before a release, we

[2020-06-25 23:36] azlam-abdulsalam commented on #296
@aly76  Please move this issue to sfpowerscripts, after some consideration sfpowerscripts is ideal for orchestration related tasks

[2020-06-25 23:36] #296 closed

[2020-06-26 07:36] manisfdcsfdx opened #297 "enhancements to orgcoverage command to include package name in output"
**Is your feature request related to a problem? Please describe.**
Adding package name to org coverage report output. This helps grouping apexclass and apextriggers coverage result by packages.

[code]

[2020-06-26 10:03] #297 closed

[2020-06-26 10:50] #290 closed

[2020-06-27 10:24] azlam-abdulsalam commented on #292
Can you elaborate on the use case here
Profile command exists as permissions on profiles as well as various other parameters differs by environments. So its hard to version control. Where as permsets is easy and manageable and doesnt differ per org. They are easy to transport from left to right

[2020-06-30 15:45] EstebanRomero84 commented on #292
Hi @azlam-abdulsalam - when we started using a vcs some time ago, we performed a full retrieve of all components from PROD to do the initial commit. So, in the case of permsets, they included permissions for all components, whether it gives access to them or not.

Now, when we retrieve a permset from a sandbox, it only includes permissions for the components that it does give access to. We have ca

[2020-07-01 15:32] Majd-Soufan commented on #278
I am trying to use the delta between 2 commits on a branch called "hotfix/2324". Here are the error logs:

    --max-age=<epoch>
    --min-age=<epoch>
    --sparse
    --no-merges
    --min-parents=<n>
    --no-min-parents
    --max-parents=<n>
    --no-max-parents
    --remove-empty
    --all
    --branches
    --tags
    --remotes
    --stdin
    --quiet
  ordering output:
    --topo-order
    -

[2020-07-01 15:37] Majd-Soufan commented on #278
I am trying to use the delta between 2 commits on a branch called "hotfix/2324". Here are the error logs:

fatal: ambiguous argument 'origin/2324': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git [...] -- [...]'

ERROR running sfpowerkit:project:diff: usage: git rev-list [OPTION] ... [ -- paths... ]
limiting output:
--max-count=
--max-ag

[2020-07-03 02:04] genoud commented on #292
Hello @EstebanRomero84,

This behaviour is due to the change that Salesforce made on the PermissionSet Metadata in API 40. https://releasenotes.docs.salesforce.com/en-us/summer17/release-notes/rn_forcecom_permission_metadata_behavior.htm.
Since then, Deploying a permission Set replace the configuration of that permission Set in the target Org. Before the change, the Permission Set was Merged. That

[2020-07-03 03:43] genoud commented on #279
@vuha-acn I created a fix for this.I added a flag `--includechilds`, short hand `-c` to include child metadata in the generated` package.xml `file.

[2020-07-03 03:50] genoud commented on #278
@Majd-Soufan it seems that your issue is with this subcommand and not sfpowerkit  `git rev-list -n 2 origin/$BUILD_SOURCEBRANCHNAME | tail -1`

[2020-07-03 23:14] #292 closed

[2020-07-07 14:39] Majd-Soufan commented on #278
Thank you for pointing that out. This is a Git issue not sfpowerkit. I will close this issue

[2020-07-07 14:39] #278 closed

[2020-07-07 23:24] azlam-abdulsalam commented on #288
Closing this due to no further activity

[2020-07-07 23:24] #288 closed

[2020-07-08 08:24] vuha-acn opened #310 "Update Documentation for sfpowerkit:source:pmd for pmd-ruleset.xml URL"
**Describe the bug**
Link for pmd-ruleset.xml is incorrect in "-r, --ruleset=ruleset" documentation.

**To Reproduce**
Original Link - https://github.com/Accenture/sfpowerkit/blob/master/resources/pmd-ruleset.xml
Valid Link - https://github.com/Accenture/sfpowerkit/blob/main/resources/pmd-ruleset.xml

**Expected behaviour**
N/A - documentation update

**Screenshots**

![image](https://user-images.

[2020-07-08 08:40] vuha-acn opened #311 "sfdx sfpowerkit:source:pmd -o foldername"
**Describe the bug**
When executing the sfdx sfpowerkit:source:pmd command with the -o switch and specifying a folder name that already exists in the SFDX project folder, additional error handling should be captured and presented to user in a more friendly error.

**To Reproduce**
Execute sfdx sfpowerkit:source:pmd -o folderName, where folderName = a folder that already exists in the SFDX project

[2020-07-08 11:31] #279 closed

[2020-07-10 10:25] manisfdcsfdx opened #314 "Enhancement to relaxiprange command to add / remove full range"
**Is your feature request related to a problem? Please describe.**

``sfpowerkit:org:relaxiprange`` command is currently been used to set specific ranges, it would be good to have a option to add full iprange and remove fullrange

**Describe the solution you'd like**
additional flags ~~``--addall`` and ``--removeall``~~  ``--all`` and ``--none``

[2020-07-10 10:28] azlam-abdulsalam commented on #314
I propose flags to be --all  or -- reset?

[2020-07-10 11:04] manisfdcsfdx commented on #287
Hey @jclark-dot-org fix is available in beta ``sfdx plugins:install sfpowerkit@beta`` can you test and let us know.

[2020-07-10 14:31] manisfdcsfdx commented on #314
@calvinle1. here is the iprange enhancement.

[2020-07-12 03:49] azlam-abdulsalam commented on #188
Closing this as, its a lower priority of now.

[2020-07-12 03:49] #188 closed

[2020-07-12 03:50] #224 closed

[2020-07-13 17:44] dineshpsalm commented on #146
team,
My first commit
![git1](https://user-images.githubusercontent.com/59183645/87332576-ab875b00-c533-11ea-90b1-ea1365f80578.png)
This is my second commit
![git 2](https://user-images.githubusercontent.com/59183645/87332574-aaeec480-c533-11ea-88b0-7cf299d91183.png)
Sfdx power kit diff command output.
![git 3](https://user-images.githubusercontent.com/59183645/87332575-aaeec480-c533-11ea-9fdf-c20

[2020-07-14 16:04] dineshpsalm opened #316 "Additional .xml files identified on top of modified files."
Team,

This is my first commit
![git1](https://user-images.githubusercontent.com/59183645/87448491-d802ac00-c5f3-11ea-8764-2e4adb2a66d9.png)

Belongs to my second commit
![git 2](https://user-images.githubusercontent.com/59183645/87448541-e650c800-c5f3-11ea-99da-9dae97f091d3.png)

Sfdx power kit diff command output.
![git 3](https://user-images.githubusercontent.com/59183645/87448597-f4064d80-c5f3

[2020-07-16 12:46] #314 closed

[2020-07-19 08:58] #287 closed

[2020-07-25 01:33] azlam-abdulsalam commented on #268
Also display whether the installed package is validated or not, if the devhub is provided

[2020-07-28 08:50] RajaPaul opened #339 "sfdx sfpowerkit:project:diff -r head~1 -d output -x --loglevel trace . creates improper destructive changes.xml"
[code]
When I run the command: sfdx sfpowerkit:project:diff -r head~1 -d output -x --loglevel trace
it creates a destructive changes.xml but some lines in the xml file contain the relative class path like **<members>force-app/main/default/classes/SampleClass2</members>**

This should not happen.

[2020-07-29 22:05] azlam-abdulsalam commented on #339
Thanks for raising the issue, we wiil upate you shortly on the progress

[2020-07-29 22:07] azlam-abdulsalam commented on #316
@dineshpsalm  the version number could be checked by running sfdx plugins
For other queries please provide exact sequence of the commands and its params

[2020-07-30 03:06] genoud commented on #316
Hello @dineshpsalm could you please compare the output of `sfdx sfpowerkit:project:diff ` command with the output of the` git diff` command using same revisions?

[2020-07-30 03:24] genoud opened #341 "Export Salesforce Data dictionary"
**Is your feature request related to a problem? Please describe.**
Sometime external teams working on integration with Salesforce need to have a reference to Salesforce Object and Fields available handy.

**Describe the solution you'd like**
It would be interesting to have a command that can export all objects and their fields in a csv or excel file. The command should give the possibility to expo

[2020-07-30 04:39] #310 closed

[2020-07-30 04:39] #311 closed

[2020-07-30 07:58] #339 closed

[2020-07-30 09:07] manisfdcsfdx commented on #339
@RajaPaul fix is available in beta, you can verify using beta version sfdx plugins:install sfpowerkit@beta.

fix will be available in regular release [2.x](https://github.com/Accenture/sfpowerkit/milestone/19?closed=1)

[2020-07-30 09:11] manisfdcsfdx commented on #280
release 2.x will be feature [`sfpowerkit:project:datamodel:diff` ](https://github.com/Accenture/sfpowerkit#sfpowerkitprojectdatamodeldiff-beta)

`sfpowerkit:project:datamodel:report` will be featuring in next release

[2020-07-30 14:34] azlam-abdulsalam commented on #341
Closing as a duplicate to #280

[2020-07-31 07:25] manisfdcsfdx opened #345 "project:diff Failing with binary files"
**Describe the bug**
When there is a static resource with image or zip file got modified between two commit ids, project diff is resulting in corrupted/ binary result.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a static resource image file to project

2. Run diff command
`sfdx sfpowerkit:project:diff -r HEAD~1 -t HEAD -d delta`

delta result will have static resource with broken im

[2020-07-31 08:05] #345 closed

[2020-07-31 21:28] vuha-acn opened #347 "Profile Retrieve cmd does not exit when specifying a wrong folder path "-f wrong-folder""
**Describe the bug**
When retrieving profiles, I accidentally did not update the -f folder path so it should have errored and exited.  Instead, it continued to pull the profiles.

**To Reproduce**
Steps to reproduce the behaviour:

1. sfdx sfpowerkit:source:profile:retrieve -f force-app -n "Admin"  -u Dev

**Expected behavior**
Application exits and does not continue to retrieve profiles if the -f

[2020-08-04 20:36] danmclindon opened #348 "Cannot find module '../../../../src/ui/progressBar' - Same as #282"
**Describe the bug**
Error when trying to run sfpowerkit:org:profile:diff

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:org:profile:diff -p "System Administrator"

**Desktop (please complete the following information):**

- OS: WIN10
- Version of sfpowerkit:  2.0.17
- Salesforce Org Version:  Summer 20

**Additional context**
All other commands seem to be fine.

[2020-08-06 20:22] WellWisherCoder opened #349 "sfdx sfpowerkit:source:profile:reconcile -s are removing Activity profile permission like Task.CustomField__c and Event.CustomField__c which should not be removed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:<module>:<command> <options>

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- O

[2020-08-08 05:26] #348 closed

[2020-08-08 05:54] manisfdcsfdx commented on #348
@danmclindon hotfix is applied, you may test the fix.

[2020-08-08 12:11] manisfdcsfdx opened #352 "new command to get list of components in a project"
**Is your feature request related to a problem? Please describe.**
A cli command to generate a CSV or JSON result with list of components located in the project with metadata type and location

**Describe the solution you'd like**
``sfdx sfpowerkit:project:report``

[2020-08-08 12:27] #352 closed

[2020-08-08 15:23] genoud commented on #349
Cannot reproduce this. Sfpowerkit do keep Task and events Fields and recordTypes.
@WellWisherCoder  could provide more info on this bug?

[2020-08-08 15:29] genoud opened #353 "Multiple API call when running profile reconcile command"
**Describe the bug**
The reconcile command make multiple describe call on the target org.

**To Reproduce**
Run the command `sfdx sfpowerkit:source:profile:reconcile` when you have Custom Metadata in some profiles.

**Expected behavior**
We should have only one API call

**Desktop (please complete the following information):**

- OS: All
- Node Version: All

[2020-08-10 04:42] #268 closed

[2020-08-10 23:09] #347 closed

[2020-08-15 03:55] azlam-abdulsalam opened #357 "sfdx sfpowerkit package dependency tree is crashing"
**Describe the bug**
There are couple of issues I have noticed with the command, looks like a regression
1. It is not able to run due to a incorrect depenedency reference on async-retry
2. Once this is fixed, it is failing to fetch dependencies possibly due to an incorrect chunk

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:package: dependency:tree

**Expected behavior**
T

[2020-08-18 04:41] #357 closed

[2020-08-18 10:34] maazinbeig opened #361 "sfpowerscripts task: Deploy source to targetorg failing; Error: Project directory not found even though it's specified"
**Description:**
"Deploy source to targetorg" task fails after doing a conversion of list of components to be deployed. (Task version: 9)
![image](https://user-images.githubusercontent.com/60119360/90501777-32ad9b80-e190-11ea-97ae-ad6765bb27ab.png)

The task keeps failing if my "Project Directory" is specified as "config" (delta created using project diff command in "config" folder)

**Work around

[2020-08-18 10:37] #361 closed

[2020-08-20 08:01] aly76 opened #362 "No default record type specified in reconciled profile"
**Describe the bug**
No default record type in profile, after reconciling the profile against the target deployment org.

**To Reproduce**
Reconcile profile containing a default record type visibility that is removed as part of the reconcile. Then try and deploy the reconciled profile to the target org, which should then cause an error complaining that there is no default record type visibility.

[2020-08-20 12:13] #212 closed

[2020-08-23 04:39] vuha-acn opened #365 "Output of manifest file in Alphabetical Order Ascending - sfpowerkit:org:manifest:build"
**Describe the bug**
Output of sfdx sfpowerkit:org:manifest:build should sort alphabetically the metadata if possible instead of random sequence of metadata tags.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:org:manifest:build -o manifest/packageAll.xml -u OrgAlias -x

**Expected behavior**
XML manifest file should output alphabetical order based on metadata data type.

*

[2020-08-27 05:57] ayadav4 opened #366 "Sandbox refresh command"
sfdx sfpowerkit:org:sandbox:refresh - How can start sandbox refresh using this command ? I tried  as below

sfdx sfpowerkit:org:sandbox:refresh -n $(env.name)  -v HubOrg

but got error like  ERROR running sfpowerkit:org:sandbox:refresh:  400 - [{"message":"License Type: bad value for restricted picklist field: undefined","errorCode":"INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST","fields":["LicenseType"

[2020-08-28 15:30] azlam-abdulsalam commented on #366
The command usage looks quite right. Do you have the right permissions? What type of Sandbox where you refreshing?

[2020-08-30 10:06] manisfdcsfdx commented on #362
This is not a bug... Lets say you retrieve a profile from sandbox 1 where Account has got 5 recordtypes and 1st one is set as in default.

Now you reconcile it against sandbox 2 where only 4th and 5th recordtype exist so 1/2/3 will be wiped out in the profile.

Then try to deploy to sandbox you will get this error, now its devs responsibility to set a default one. we cant automatically set it.

cc

[2020-08-30 10:07] #353 closed

[2020-08-30 10:22] #362 closed

[2020-08-30 12:46] manisfdcsfdx commented on #349
@WellWisherCoder can you provide more info.. we cannot reproduce this issue.

[2020-08-30 13:08] #365 closed

[2020-08-30 13:21] manisfdcsfdx commented on #366
@ayadav4 you need to provide either licence type if you want to refresh from prod or clonefrom from sandbox you need refresh copy.

[2020-08-30 13:22] #366 closed

[2020-08-31 12:44] dineshpsalm opened #376 "Salesforce sfdx powerkit delta changes commit conflicts"
Hi team,
My first commit
![git1](https://user-images.githubusercontent.com/59183645/91720712-7ee4dc80-eb8f-11ea-8ea2-e0f0faf1c2b3.png)

My second commit
![git 2](https://user-images.githubusercontent.com/59183645/91720801-a0de5f00-eb8f-11ea-9222-6427801b7a3a.png)

Sfdx power kit diff command output.
![git 3](https://user-images.githubusercontent.com/59183645/91720824-a9369a00-eb8f-11ea-84ab-a7b291

[2020-09-01 07:15] manisfdcsfdx commented on #376
@dineshpsalm you can run this to see the version

`sfdx plugins --core`

[2020-09-01 07:16] manisfdcsfdx commented on #349
@WellWisherCoder closing this issue as this is not reproduced from our side. Feel free to open this when you more  details on this.

[2020-09-01 07:16] #349 closed

[2020-09-01 08:55] manisfdcsfdx commented on #376
@dineshpsalm Also can you run git diff HEAD HEAD~1 to see the output as well

[2020-09-02 04:25] ayadav4 opened #378 "sfpowerkit plugin is not Getting installed on Azure MS hosted agent"
HI Team,

In Azure devops Pipeline, I am using below command to install plugins MS hosted agent- hosted ubuntu 1604.

It was working till yesterday.

echo 'y' | npx sfdx plugins:install sfpowerkit.

error-

2020-09-02T04:18:34.2136289Z You acknowledge and agree that the CLI tool may collect usage information, user environment, and crash reports for the purposes of providing services or functions t

[2020-09-02 06:26] azlam-abdulsalam commented on #378
Hi Anil,
We have seen the reports of this error in particular ubuntu configuration, and it looks like a sfdx-cli one. The work around is to downgrade the CLI to 7.71.0, till it is fixed the cli

[2020-09-02 10:44] #131 closed

[2020-09-02 15:42] gvivo commented on #378
Hi Team,

In GitLab CI/CD Pipelines we are currently facing a similar issue. This started happening this morning.
We attempt to install the plugin in a Kubernetes cluster with the following command:

echo 'y' | node_modules/sfdx-cli/bin/run plugins:install sfpowerkit

We receive the following error messages:

TypeError: Cannot read property 'dim' of undefined
ERROR: Job failed: exit code 1

We hav

[2020-09-02 22:01] azlam-abdulsalam commented on #378
Here is another workaround listed in Stack overflow
https://salesforce.stackexchange.com/questions/318537/sfdx-plugin-installation-crash-typeerror-cannot-read-property-dim-of-undefin

[2020-09-02 22:36] rody commented on #378
Hello,

I was able to reproduce this issue yesterday in a Docker container. The issue comes from a change in sfdx-cli (or one of its dependencies). This issue affects the installation of many plugins (not only sfpowerkit)

## Known working versions:
 - sfdx-cli@7.70.1 (and earlier)

## Known broken versions
 - sfdx-cli@7.71.0
 - sfdx-cli@7.72.0

## Workaround fix:
Specify the sfdx-cli version when

[2020-09-03 04:51] ayadav4 commented on #378
Hi Azlam,

I Installed sfdx cli version 7.70.1. It is working for me.

Regards,
Anil Yadav

[2020-09-03 05:02] ayadav4 opened #379 "Updating Azure DevOps variable group variable from Azure Pipeline"
Hi Team,

Please help me to update Azure Devops Variable groups variable  from Azure  release pipeline.
It would be great help

Regards,
Anil Yadav

[2020-09-03 05:04] azlam-abdulsalam commented on #379
@ayadav4  Please raise this issue in sfpowerscripts https://github.com/accenture/sfpowerscripts as this is only sfpowerkit related

[2020-09-03 05:04] #379 closed

[2020-09-03 09:04] gvivo commented on #378
Hi Team,

Thanks for the quick answers.
We followed the workaround of installing the sfdx cli version 7.70.1 and it's also working here.

Regards,
Guillem Vivó

[2020-09-03 20:53] dineshpsalm commented on #376
@manisfdcsfdx  -- $ sfdx plugins --core
@oclif/plugin-autocomplete 0.1.5 (core)
@oclif/plugin-commands 1.3.0 (core)
@oclif/plugin-help 3.0.1 (core)
@oclif/plugin-not-found 1.2.4 (core)
@oclif/plugin-plugins 1.7.10 (core)
@oclif/plugin-update 1.3.10 (core)
@oclif/plugin-warn-if-update-available 1.7.0 (core)
@oclif/plugin-which 1.0.3 (core)
@salesforce/sfdx-trust 3.0.7 (core)
analytics 1.12.0 (core)

[2020-09-04 00:18] manisfdcsfdx commented on #376
@dineshpsalm if you are after destructivechanges we do provide that, you need to use -x | --generatedestructive  falg. Since we are generating incremental delta changes in source format there is no need to package.xml. you still need package.xml you may need to run source:convert on that delta output project

[code]

[2020-09-04 01:57] dykim-daniel opened #381 "Error in project:orgdiff"
**Describe the bug**
The error comes up when I run project:orgdiff command.

Error Message
- TypeError: Cannot read property 'bold' of undefined

**To Reproduce**
Steps to reproduce the behavior:

sfdx sfpowerkit:project:orgdiff --folder directory  -u <env_alias>

**Expected behavior**
N/A

**Screenshots**
<img width="572" alt="Screen Shot 2020-09-04 at 11 53 29 am" src="https://user-images.github

[2020-09-04 10:08] dineshpsalm commented on #376
thats great @manisfdcsfdx  i like to know two more things
1. When I mention "/powerdir" in my command it automatically stores my output in path "C:\Users\a668318\AppData\Local\Programs\Git\powerdir". In this case, how  do I define my own path ?

2. If output dir is not changeable, then what would be the default path in linux environment similar to above one ?

[2020-09-04 10:45] dineshpsalm commented on #376
I usually use source:retrieve command to retrieve from test and use "sfdx force:source:deploy --manifest c:\...\manifest\package.xml -u prod" to deploy my components into prod org. When I'm using power kit, it is generating files in output folder where I defined in command. Now point here is, How do I deploy this into my destination org. I'm asking this because, usually I use package.xml to deploy

[2020-09-05 04:45] manisfdcsfdx commented on #376
@dineshpsalm you could pass the sourcepath with delta dir to deploy

`sfdx force:source:deploy --sourcepath /powerdir/force-app -u prod`

[2020-09-07 02:33] manisfdcsfdx commented on #381
--folder is not a valid flag. readme and example needs to updated. please use `-f or --filesorfolders` with valid path.

[2020-09-07 03:10] genoud opened #383 "Project Diff: Add support of Experience Bundle"
Make project diff supports ExperienceBundle Metadata

[2020-09-07 09:35] dineshpsalm commented on #376
@manisfdcsfdx  - thanks for input mani. I have two more questions here.
1. Is there any way to convert delta source into package.xml ?
2. what is the use of diff.json file which generated using sfdx powerkit ? just for view purpose or we can use it for deployment ? if yes, how to use json file for deployment ?

[2020-09-07 23:03] rody commented on #378
For info, this issue seems to be present also in the 7.73.1 release
I tested with:

[code]

[2020-09-08 02:34] manisfdcsfdx commented on #376
@dineshpsalm -

As we generate the output in source format actually there is no need for package.xml, if you still need package.xml you may need to run [source:convert](https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_source.htm#cli_reference_convert) to get your own package.xml from the delta output.

diff.json is not for your deploy

[2020-09-08 04:11] Caitlyn-Mills opened #385 "sfpowerkit:pool:create errors not written in logs"
**Describe the bug**
sfpowerkit:pool:create not writing errors to log

**To Reproduce**
Steps to reproduce the behavior:
Run a sfpowerkit:pool:create task which doesn't execute scripts or has other errors

**Expected behavior**
Logs show an trace behaviour of why the task failed

**Screenshots**
![image](https://user-images.githubusercontent.com/63215232/92432004-14a7e980-f1d8-11ea-856f-5240853d9f

[2020-09-09 03:22] #376 closed

[2020-09-11 02:30] rody commented on #378
I can confirmed it was fixed in 7.74.1
see https://github.com/forcedotcom/cli/issues/592

[2020-09-11 02:33] azlam-abdulsalam commented on #378
Closing this as its fixed in 7.74.1

[2020-09-11 02:33] #378 closed

[2020-09-12 13:35] #383 closed

[2020-09-12 14:13] #381 closed

[2020-09-15 04:41] azlam-abdulsalam opened #390 "sfpowerkit command fails to run, if it run outside the sfdx project directory"
**Describe the bug**
Many of the sfpowerkit namespaces (org, packages) doesn't have the requirement of running inside a sfdx project directory. It could be run from anywhere. A recent update in @salesforce/core has broken the functionality, which resulted in all the commands to be triggered only from a sfdx project directory.

**To Reproduce**
Run any commands that do not have the sfdx project dir

[2020-09-17 09:49] dineshpsalm commented on #376
you are really helpful @manisfdcsfdx . Appreciate it keep it up

[2020-09-17 13:46] JeroenSfdc opened #391 "sfdx sfpowerkit:org:orgcoverage --> Cannot read property 'Name' of null"
**Describe the bug**
`sfdx sfpowerkit:org:orgcoverage -u imcd--uat -d "/Users/jburgers/Downloads" -f csv`

`Successfully Retrieved the Apex Test Coverage of the org 00D1w0000000c0aEAA`
`coverage:11`
`ERROR running sfpowerkit:org:orgcoverage:  Cannot read property 'Name' of null`
**To Reproduce**
Steps to reproduce the behavior:
`sfdx sfpowerkit:org:orgcoverage -u imcd--uat -d "/Users/jburgers/Down

[2020-09-18 01:19] manisfdcsfdx commented on #391
@JeroenSfdc  can you run the command with --json and provide the screenshot, as we are not able to reproduce the issue.

`sfdx sfpowerkit:org:orgcoverage -u imcd--uat -d "/Users/jburgers/Downloads" -f csv --json`

[2020-09-18 02:04] azlam-abdulsalam commented on #391
@JeroenSfdc  I have a feeling this is related the alias of the org imcd--uat and is somehow getting broken.

[2020-09-18 06:19] JeroenSfdc commented on #391
`{
  "status": 1,
  "name": "TypeError",
  "message": "Cannot read property 'Name' of null",
  "exitCode": 1,
  "commandName": "OrgCoverage",
  "stack": "TypeError: Cannot read property 'Name' of null\n    at /Users/jburgers/.local/share/sfdx/node_modules/sfpowerkit/lib/commands/sfpowerkit/org/orgcoverage.js:94:86\n    at Array.forEach (<anonymous>)\n    at OrgCoverage.getApexCoverageByDetails (/U

[2020-09-18 11:00] ayadav4 opened #394 "sfpowerkit:source:profile:reconcile - Not reconciling flow"
Hi Team,

I am trying to reconcile profiles retrieved from Production  against the metadata we got in our project.  I just observed that it is not removing flow related metdata from  profile xml files. It should remove them as well as I do not have any flow in my project.

[2020-09-18 11:04] azlam-abdulsalam commented on #394
@ayadav4 Can you provide the parameters used and details like API version of the org etc

[2020-09-18 11:05] azlam-abdulsalam commented on #391
Thanks @JeroenSfdc  we are looking into it

[2020-09-19 02:06] manisfdcsfdx commented on #391
@JeroenSfdc we have applied a hotfix. Can you install version 2.1.6. Let us know if face any issues.

`$ sfdx plugins:install sfpowerkit@2.1.6`

[2020-09-21 09:18] ayadav4 commented on #394
Hi Azlam,

I ran below command from VS code terminal with production as default org

sfdx sfpowerkit:source:profile:retrieve

After running the above command, I got all the profiles in my project  src/main/default/profiles folder.

then I ran below command to reconcile profiles against the my project metadata.

sfdx sfpowerkit:source:profile:reconcile  --folder src, corenew  -s

As per my understa

[2020-09-22 01:23] manisfdcsfdx commented on #391
@JeroenSfdc closing the issue as the bug fix is applied in latest tag. feel free to reopen the issue incase if you get any troubles.

[2020-09-22 01:23] #391 closed

[2020-09-22 01:26] manisfdcsfdx commented on #394
Thanks @ayadav4 we will look into the issue.

[2020-09-22 01:31] manisfdcsfdx commented on #390
Closing the issue as the fix is applied for forcedotcom/cli#615

[2020-09-22 01:31] #390 closed

[2020-09-23 06:33] manisfdcsfdx opened #395 "support for Picklist values not getting deployed during unlocked package upgrades"
**Is your feature request related to a problem? Please describe.**
Picklist values not getting deployed during unlocked package upgrades -  https://trailblazer.salesforce.com/issues_view?id=a1p3A0000003Uk2QAE

### Describe the solution you'd like

**Generate patch before package version creation**
Search all picklist fields inside the given package directory and create a static resource zip file i

[2020-09-23 08:00] manisfdcsfdx commented on #394
@ayadav4 can you run the command with --loglevel bebug and check Flow Access reduced from count. I just ran it on my source with sourceonly flag it seem to work fine.

Below was on a project having 156 Flow so the reconciled profile resulted with 156 flowaccess
![image](https://user-images.githubusercontent.com/44075423/93983496-fa6c2f00-fdc5-11ea-9f0b-4b754739352e.png)

Below was on a project hav

[2020-09-23 08:25] #395 closed

[2020-09-23 12:44] ayadav4 commented on #394
I installed this plugin 8-9 month before  in my local machine, is this because of that I am facing issue?

[2020-09-23 20:36] vuha-acn opened #397 "sfdx sfpowerkit:project:diff - Not Capturing All Deltas from Commit Showing in Repo"
**Describe the bug**
When executing the sfdx sfpowerkit:project:diff command and comparing the output directly to my repo between the 2 commits, there are missing metadata such as customMetadata, layouts, objects, and labels that was expected to be included to have a 1:1 match.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:project:diff --revisionfrom abc --revisionto 123 -

[2020-09-24 04:55] ayadav4 commented on #394
@manisfdcsfdx - I ran above command, please see below scree shot.

![image](https://user-images.githubusercontent.com/35283334/94102651-419f0200-fe50-11ea-8e0e-e243312f9521.png)

[2020-09-24 04:57] ayadav4 commented on #394
@manisfdcsfdx -I ran above command . Please see below screen shot.

![image](https://user-images.githubusercontent.com/35283334/94102781-8f1b6f00-fe50-11ea-87f8-7e45ee56440c.png)

[2020-09-24 06:10] manisfdcsfdx commented on #394
@ayadav4 well it looks like using version 1.26.1 which is 1 year old. sfpowerkit current version is 2.1.6 https://www.npmjs.com/package/sfpowerkit. can you please update the plugin using `sfdx plugins:update` or install latest version `sfdx plugins:install sfpowerkit@latest`

[2020-09-25 05:55] ayadav4 commented on #394
@manisfdcsfdx - After installing latest version, it is working properly. Thanks for all your help.

[2020-09-25 06:12] manisfdcsfdx commented on #394
@ayadav4 Glad your issue is resolved.

[2020-09-25 06:12] #394 closed

[2020-09-26 00:17] azlam-abdulsalam commented on #397
Closing this as its not reproducible

[2020-09-26 00:17] #397 closed

[2020-10-01 08:17] manisfdcsfdx opened #401 "List apex test classes in a given source project"
**Is your feature request related to a problem? Please describe.**
When performing deployment or apex test run with RunSpecifiedTests you may need to provide the list of test classes to run. if your source has lot of test classes then you need to provide all the classes names. When a new test class is created/deleted you may need to change the parameter accordingly.
`sfdx force:source:deploy -l Ru

[2020-10-01 08:19] #401 closed

[2020-10-03 03:09] azlam-abdulsalam opened #403 "sfpowerkit:org: manifest:build fails when using short code"
**Describe the bug**
sfpowerkit:org: manifest : build throws an exception and crashes when using the -c for including child in the manifest being built. The same command works provided the flag is provided using the full notation

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:org: manifest: build

**Expected behavior**
The command should work

**Desktop (please complete the

[2020-10-03 03:11] azlam-abdulsalam commented on #258
Need this for a source package

[2020-10-06 10:58] ayadav4 opened #407 "Sfpowerkit Instllation error"
Hi Team,

I trying to install sfpoerkit into my machine( windows). It is faling with below error. Could you please suggest some workaround if possible.

sfdx plugins:install sfpowerkit
    Error: unable to get local issuer certificate
    Code: UNABLE_TO_GET_ISSUER_CERT_LOCALLY

[2020-10-07 08:40] manisfdcsfdx commented on #407
@ayadav4 can you provide screenshot

[2020-10-08 07:55] ayadav4 commented on #407
@manisfdcsfdx - as requested, please find below screenshot. Please note that this is company laptop.

![image](https://user-images.githubusercontent.com/35283334/95430627-a6d31700-0969-11eb-8c20-bd2a09ecd702.png)

[2020-10-08 12:55] dineshpsalm opened #409 "Maintain profile with git in org base development"
Hi Friends,

Problem:
My project is based on org base development and we are looking for a way to maintain huge profile files using GIT. As you know, If profile have specific metadata type, then when we merge to higher branch the existing data relate to same profile file in the higher branch will be over written and new changes will be reflected. In this case, the only way to move around from this

[2020-10-08 12:56] dineshpsalm opened #410 "Maintain profile with git in org base development"
Hi Friends,

Problem:
My project is based on org base development and we are looking for a way to maintain huge profile files using GIT. As you know, If profile have specific metadata type, then when we merge to higher branch the existing data relate to same profile file in the higher branch will be over written and new changes will be reflected. In this case, the only way to move around from this

[2020-10-09 03:00] manisfdcsfdx commented on #407
@ayadav4 can you try it in any other machine please. Looks like this is SSL certificate issue in your machine you may need to work with your company IT team.

[2020-10-09 03:01] manisfdcsfdx commented on #409
closing this as it is duplicate of #410

[2020-10-09 03:01] #409 closed

[2020-10-09 03:24] manisfdcsfdx commented on #410
@dineshpsalm Thanks for reaching out to us.

We have below list of commands to work with profile. I highly recommend to have a look at this commands

- [`sfdx sfpowerkit:source:profile:retrieve`](https://github.com/Accenture/sfpowerkit#sfpowerkitsourceprofileretrieve)
This Command helps you to retrieve the complete profile from your production or any other environment. This commands takes care if

[2020-10-09 05:21] ayadav4 commented on #407
@manisfdcsfdx it got installed, thanks for help

[2020-10-09 05:45] manisfdcsfdx commented on #407
@ayadav4  Glad your issue is resolved

[2020-10-09 05:45] #407 closed

[2020-10-19 00:21] aly76 opened #412 "sfdx sfpowerkit:package:delete"
**Is your feature request related to a problem? Please describe.**
Salesforce has release a new package delete command, as part of Winter '21, but it does not allow deletion if there are still associated package versions - meaning the user has to first go and delete all the package versions.

**Describe the solution you'd like**
It would be nice to have a sfpowerkit command that deletes all the pa

[2020-10-19 12:10] erick-bs commented on #97
Hi guys! I'm a new Salesforce Developer and I'm trying to solve this error, even though I have no problems with the CI/CD process, which means, that when I have new commits, the scheduled run the pipeline on GitHub with no errors, but when I don't have any commit to merge when the automatic process ran daily, shows up this error message. Is there any workaround to avoid this error and the pipeline

[2020-10-19 12:12] #410 closed

[2020-10-19 12:18] azlam-abdulsalam commented on #97
@erick-bs  Couple of options here
- Change your ci/cd process from daily to producing a diff upon merge (have a look at sfpowerscripts  https://github.com/Accenture/sfpowerscriptsfor ci/cd plugin)
- write a small script which skips the diff if the revisions are same

[2020-10-25 00:48] azlam-abdulsalam opened #413 "Update pmd to 6.30.0"
PMD need to be updated to 6.30.0. Also this version introduces new rules, so the standard sfpowerkit ruleset might need to be updated as well.

[2020-10-25 00:50] azlam-abdulsalam commented on #413
@rody Can you help with updating the ruleset

[2020-10-25 00:52] azlam-abdulsalam opened #414 "Update metadata coverage report to v50"
Metadata coverage report need to be updated to v50, as the release is live now.

[2020-10-25 00:53] azlam-abdulsalam commented on #403
@manisfdcsfdx   close this?

[2020-10-27 06:13] #413 closed

[2020-10-27 06:13] #414 closed

[2020-10-27 19:32] dweaver33 opened #417 "The flag "resultasstring" doesn't seem to work."
I would expect this to produce a list of all the test classes as comma separated, however, when running the command, I get the same table output:

`sfdx sfpowerkit:source:apextest:list -p force-app --resultasstring`

https://github.com/Accenture/sfpowerkit/blob/44f67a1224c73971210d82c360c93d22982160ea/src/commands/sfpowerkit/source/apextest/list.ts#L92

[2020-10-28 02:02] ramesh-karanji opened #445 "while creating delta pkg .forceignore not getting copied to working directory"
Create Delta Package based on two commits task is failing with below error while delta package creation
##[error]ENOENT: no such file or directory, open 'portal_src_delta/.forceignore'

[2020-10-30 01:19] manisfdcsfdx commented on #417
@dweaver33  we returning array or comma separated string to json output when you run the command with `--json`. happy to print the string in console in case of `--resultasstring` flag

[2020-10-30 01:45] dweaver33 commented on #417
@manisfdcsfdx, maybe we could give the option somehow?

[2020-10-30 02:05] #417 closed

[2020-10-30 02:05] manisfdcsfdx commented on #417
@dweaver33 ya added a enhancement to print comma separated string oppose to table in case of `--resultasstring`

[2020-10-30 02:33] manisfdcsfdx commented on #417
@dweaver33 you can check the fix in beta version. nov 2nd fix will be available in regular version.

[2020-10-30 12:46] rjfay commented on #410
Hi @manisfdcsfdx @azlam-abdulsalam, thank you for this plugin and for these explanations.

I've read the relevant source code but am still unclear about what the differences are between using `sfpowerkit:source:profile:merge` and simply overwriting the profile with what's in the source org.

Could you please clarify what it does and what benefits it offers over just overwriting with the source pro

[2020-10-30 13:52] dweaver33 commented on #417
@manisfdcsfdx, works great!  Thank you!

[2020-11-02 01:16] maazinbeig opened #421 ""sfpowerkit:project:diff" command fails to generate the delta between 2 commits"
**Description:**
Using the "sfpowerkit:project:diff" command, the delta fails to generate the files between commits.

**To Reproduce:**
Do a project diff using command below and the latest version of sfpowerkit:
- **Command used:** sfdx sfpowerkit:project:diff --revisionfrom $commitA --revisionto $commitB --output "outputfolder"
- **Error:** Cannot read property 'directoryName' of undefined

**Des

[2020-11-02 01:33] azlam-abdulsalam commented on #421
@maazinbeig  thanks for raising it. Fixed it in v2.3.6

[2020-11-02 01:33] #421 closed

[2020-11-02 11:40] manisfdcsfdx commented on #410
Thanks @rjfay for reaching out to us.

on high level view yes you are right `sfpowerkit:source:profile:merge` is overwriting the local profile with source org. But here is the use case where it can be really handy and useful.

Lets say you have a production/sandbox where your entire components exist with multiple managed packages like nCinio/ Financial service cloud/healthcloud/velocity installed.

[2020-11-09 04:41] #258 closed

[2020-11-09 19:12] aheber opened #424 "org:manifest:build --quickfilter appears to function opposite of the description"
**Describe the bug**
Adding a `--quickfilter` flag to the `org:manifest:build` command causes _only_ the "filtered" type to be generated, rather than excluding that type.
The flag text says this should be inverted, and should be an "exclude" list.
`comma separated values  of metadata type, member or file names to be excluded while building the manifest`

**To Reproduce**
`sfdx sfpowerkit:org:manif

[2020-11-12 05:27] #424 closed

[2020-11-12 05:28] manisfdcsfdx commented on #424
@aheber Thanks for the raising PR.

[2020-11-12 06:13] qswh opened #425 "Profile Reconcile Command Throw Error when Target Org has no flows"
**Describe the bug**
TypeError Thrown when running Profile Reconcile against a sandbox

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:source:profile:reconcile  -u ciacfs -d destfolder

**Expected behavior**
the reconciled profile file is stored in destfolder

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuser

[2020-11-12 06:30] manisfdcsfdx commented on #425
Thanks @qswh . looking into the issue.

[2020-11-12 07:04] #403 closed

[2020-11-13 07:00] #425 closed

[2020-11-16 06:25] #385 closed

[2020-11-19 23:15] azlam-abdulsalam opened #429 "Erase Test Data Coverage"
**Is your feature request related to a problem? Please describe.**
When tests are run in batches, each batch of test classes appends previously run  coverage data information. This results in an incorrect test run coverage percentage from the trigger apex test run.

**Describe the solution you'd like**

A command to clear up the test coverage data would be useful.  I believe this can be achieved b

[2020-11-25 02:06] #412 closed

[2020-11-25 14:14] achimraible opened #431 "Plugin install error"
Hi,

with the latest version of SFDX from https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz we get the following error when installing your plugin by using the command 'sfdx plugins:install sfpowerkit'.

[1/4] Resolving packages...Installing plugin sfpowerkit...
[2/4] Fetching packages...Installing plugin sfpowerkit... info Visit https://yarnpkg.com/en/docs/cli/add for

[2020-11-25 14:35] johnforeland commented on #431
Same issue. Works fine locally, not on GitHub Actions using ubuntu-latest.

[2020-11-26 16:54] WellWisherCoder commented on #431
facing same issue

[2020-11-26 20:55] azlam-abdulsalam commented on #431
We are looking into it, can any one of you provide a screenshot of the error?
Is it only happening in Github actions ?

[2020-11-27 06:51] azlam-abdulsalam commented on #431
I am still unable to find what is causing the issue, could be us missing yarn and npm together. The following instructions work in Github actions

    // Install SFDX CLI
      - name: Install SFDX CLI
        run: |
             sudo yarn global add sfdx-cli@latest

      - name: Install sfpowerkit
        run: |
              echo 'y' | sfdx plugins:install sfpowerkit@alpha

[2020-11-30 05:27] #429 closed

[2020-12-01 01:44] manisfdcsfdx opened #436 "Enhancement to Scratch org Allocation status transition in pool"
**Is your feature request related to a problem? Please describe.**
Currently Scratch orgs are not being tags to the pool until it is provisioned with all the scripts applied, if the build is cancelled or failed it involves manual effort to find the scratchorgs and reclaim them

**Describe the solution you'd like**
This enhancement is add additional allocation status `'In Progress' , 'Available'` t

[2020-12-01 03:33] azlam-abdulsalam commented on #431
Found out the root cause of this issue, this happened due to the recent update of antlr to 4.9.0 which requires node 14. This dependency is used by salesforce-alm, which we dependent on for Pooling Commands. The current work around is to  update the node engine to use 14.
https://github.com/forcedotcom/cli/issues/746

[2020-12-01 03:43] #436 closed

[2020-12-01 08:14] achimraible commented on #431
I add this to workaround to our Dockerimage we are using for Git Lab pipeline, but still get the installation error mentioned above we I use the latest version of sfpowerkit.

Installation of version sfpowerkit@2.0.1 is successfull but when I call the command "sfdx git:package -s ${sourceBranch} -t ${targetBranch} -d ${tmp.deployment.folder}/diff -f" I get the following error

[sf:deploy] Finished

[2020-12-01 09:15] azlam-abdulsalam commented on #431
@achimraible  that doesn't look like a sfpowerkit command. Its a different plugin.

sfpowerkit git diff functionality is available in the following commmand

https://github.com/Accenture/sfpowerkit#sfpowerkitprojectdiff

[2020-12-01 09:32] achimraible commented on #431
You're right. sorry for that.

[2020-12-01 18:12] WellWisherCoder commented on #431
So, when can we expect this to work as previously?

[2020-12-01 18:12] WellWisherCoder commented on #431
I'm currently using the older version - Installation of version sfpowerkit@2.0.1

[2020-12-01 22:28] azlam-abdulsalam commented on #431
@WellWisherCoder  unless salesforce cli team or antlr decides to fix, we are in a pickle. The current option is to use node14 as the runtime

[2020-12-01 22:30] azlam-abdulsalam commented on #431
Seems like cli is releasing a patch, and this should go away

[2020-12-03 07:59] achimraible commented on #431
In order I can't get the plugin up and running again with whatever salesforcdx version I'm using, I created in my deployment script the same functionality you are using. Furthermore to prevent future malfunction when again a SF CLI update breaks the plugin functionality and our CI/CD process is broken caused by this
Thanks for your help in all the issues I created, but from my point of view it is

[2020-12-03 08:10] azlam-abdulsalam commented on #431
@achimraible  it is better to have a docker image, so you have control over the depenendencies

[2020-12-03 08:13] achimraible commented on #431
I

We have a docker image in use which includes the official salesforce sfdx docker image too, but still I can't get it up and running

[2020-12-03 08:52] azlam-abdulsalam commented on #431
Cool, cli patch will be released tonight as they have closed the issue

[2020-12-07 02:06] manisfdcsfdx commented on #431
CLI team has applied a patch to remove antlr4 dependency. we have updated to latest cli dependency as well.

[2020-12-07 02:06] #431 closed

[2020-12-07 02:29] seanong-athena opened #441 "Enhance sfpowerkit:org:scratchorg:delete to allow specific scratchorg to be deleted"
**Is your feature request related to a problem? Please describe.**
- Currently, we are using docker images with bitbucket pipelines.
- Docker images creates a "fresh" instance and hence no sfdx information is stored.
- We are able to use `sfpowerkit:auth:login` to login to the DevHub.
- However, since we are using the user/pass flow, we are unable to delete scratch orgs using `sfdx force:org:delet

[2020-12-07 20:08] azlam-abdulsalam commented on #441
@manisfdcsfdx whats your take on it? Seems possible

[2020-12-08 05:46] manisfdcsfdx commented on #441
Yea @azlam-abdulsalam it is possible we can accept `--username`  to delete a specific scratch orgs.

@seanong-athena

[2020-12-08 19:09] CrispyBaconUk opened #442 "sfdx sfpowerkit:project:diff --generatedestructive - Exclude BrandingSet artifact from destructiveChanges.xml"
I do not believe you can destroy the BrandingSet artefact by itself as it references a LightningExperienceTheme.

Destroying a LightningExperienceTheme by itself will automagically destroy the associated BrandingSet artefact in the target org.

Currently if I destroy both artefacts during a commit `sfdx sfpowerkit:project:diff --generatedestructive` will generate both artefacts in the destructiveC

[2020-12-09 02:14] #241 closed

[2020-12-09 02:14] #280 closed

[2020-12-10 01:46] #442 closed

[2020-12-17 09:13] WellWisherCoder opened #446 "Activity Object Field Permissions are not filtered by reconcile command"
**Describe the bug**
When we create a custom field for task/activity. It shows up under activity custom object like **Activity.CustomField__c**
But the FLS are mentioned in profile  are under Task Object like **Task.CustomField__c**

Since this behavior for custom field are different in case of Task/Activity. The **profile:source:reconcile -s** command is not keeping these permissions

**To Reprod

[2020-12-17 22:42] crazynammer opened #448 "sfpowerkit:source:profile:retrieve/reconcile - Duplicate layoutAssignments during extraction of "Admin" Profile"
**Describe the bug**
Profile Retrieve/Reconcile of  new "Admin" profile from org generate a duplicate layoutAssignments entry causing validation error to destination org.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:source:profile:retrieve -n "Admin" -u orgAlias
2. sfdx sfpowerkit:source:profile:reconcile -u orgAlias -f access-mgmt/main/default/profiles -n "Admin"

**Expe

[2020-12-22 20:22] genoud commented on #448
@crazynammer I was not able to reproduce this. The retrieve and the reconcile does not add items in the profile configuration.

[2020-12-22 20:43] crazynammer commented on #448
@genoud - Have you enabled Person Account Org in your sandbox and/or scratch org to try to replicate the error. My use case is that the sandbox is enabled with Person Account, each time I pull a full profile down, it does a duplicate of the following block of xml thinking that its needed for both Person and Standard Account.

[code]

[2020-12-22 20:47] genoud commented on #448
Yes, I'm testing on an org with person account enabled.

[2020-12-23 00:54] crazynammer commented on #448
@genoud - For your testing, have you also created a custom Page Layout and do the assignment of that to the System Admin profile and do a full retrieve? I think that would be the best way to reproduce the error because that is my current scenario now.

[2020-12-23 01:44] #446 closed

[2020-12-23 23:43] crazynammer commented on #448
@genoud - I've done some more tests and here are the results

1. Pull full profile from different org, UAT, and it did not duplicate the tag for layoutAssignment -- PASS
2. Update the PersonAccount in Dev and re-assign the same layout and made changes to the page layout and tried to pull down code again -- FAIL

It seems to be just isolated to this DEV Sandbox so I can pinpoint where the configura

[2020-12-28 00:43] #441 closed

[2020-12-30 16:52] nabondance opened #450 "sfpowerkit:pool:delete --inprogressonly Doesn't find any scratch org"
**Describe the bug**
The command `sfpowerkit:pool:delete --inprogressonly --tag=mytag` doesn't find in progress scratch org even if there is in progress scratch orgs

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:pool:list -a --tag=mytag
2. We can see Inprogress scratch org (because the create failed or set manually in the DevHub org)
3. sfpowerkit:pool:delete --inprogresso

[2021-01-14 15:28] DougMidgley opened #451 "ObjectTranslations do not add the Object file when fields are changed"
**Describe the bug**
When changing ObjectTranslations for a specific field, the object xml is also required to be added in order to deploy. After creating a Diff using sfdx sfpowerkit:project:diff the output folder has the modified field but not the object.

**To Reproduce**
Modify ObjectTranslation Field value
Commit changes
Run sfdx sfpowerkit:project:diff  with relevant commit ids
Review extrac

[2021-01-14 21:07] azlam-abdulsalam commented on #451
@manisfdcsfdx can you have a look into this one?

[2021-01-14 21:25] DougMidgley commented on #451
I believe i found the issue here - https://github.com/Accenture/sfpowerkit/blob/5841be24f3e9c8ecbc8b9f4ebdc7a5cef04b47fc/src/impl/project/diff/diffUtil.ts#L97

changing  to
`if (file.path === filePath || file.path.endsWith(objectTranslation)) {`

seems to work. objectTranslation is not the whole path just the end, while file.path is the whole path.

[2021-01-14 23:41] manisfdcsfdx commented on #451
Sure am looking at it.

[2021-01-15 02:55] Caitlyn-Mills opened #454 "Scratch Org Pool creation failure"
**Describe the bug**
Unable to provision a scratch org using sfpowerkit:pool:create

**To Reproduce**
Steps to reproduce the behavior:

1. npx sfdx sfpowerkit:pool:create

**Expected behavior**
Expected scratch orgs to be created and provisioned.

**Screenshots**
![image](https://user-images.githubusercontent.com/63215232/104675189-e6fa2080-5734-11eb-8f3a-78c9243d43f1.png)

**Desktop (please compl

[2021-01-15 02:58] azlam-abdulsalam commented on #454
Thanks @Caitlyn-Mills  for raising the issue. Its caused by sfdx plugins missing the user namespace.

We are tracking this closely.

[2021-01-15 21:02] azlam-abdulsalam commented on #454
A fix has been applied and testing out

[2021-01-16 11:06] manisfdcsfdx commented on #445
@azlam-abdulsalam not able to reproduce this one, we are handling project not having forceignore. i have tested in project where forceignore not exist as well.

keeping this open to see if @ramesh-karanji facing this anymore.

[2021-01-16 11:07] #450 closed

[2021-01-16 21:51] ImJohnMDaniel opened #456 "Scratch org pool creation goes into infinite loop when DevHub has no active scratch orgs"
**Describe the bug**
Scratch org pool creation goes into infinite loop when DevHub has no active scratch orgs

**To Reproduce**
Steps to reproduce the behavior:

1. set up sfpowerkit
2. ensure DevHub has no ActiveScratchOrg
3. execute command `sfdx sfpowerkit:pool:create -f scratch-org-pool-config.json -v DevHub`
*****FAILURE POINT
* Monitor ActiveScratchOrgs -- note no new scratch orgs created
*

[2021-01-16 21:53] azlam-abdulsalam commented on #456
@ImJohnMDaniel  possible duplicate of this
https://github.com/Accenture/sfpowerkit/issues/454

Working on a hotfix

[2021-01-16 21:56] ImJohnMDaniel commented on #456
I doubt it.  In my tests, I was never able to get to "Creating Scratch  Org  1 of X.." message.

FYI on the PR with the fix.

[2021-01-16 21:57] azlam-abdulsalam commented on #456
@manisfdcsfdx  can you incorporate this in the proposed patch?

[2021-01-16 22:00] ImJohnMDaniel commented on #456
@azlam-abdulsalam -- Applying the fix that I have for this one in my local version allows me to proceed far enough to get to the issue mentioned in #454.

I can see the scratch orgs being created, but the SFPOWERKIT fields on the ScratchOrgInfo object (i.e. `Allocation_status__c`, `Password__c`, and `Pooltag__c`) are not populated.

[2021-01-16 22:03] azlam-abdulsalam commented on #456
Yes this command is broken now with issue #454, we are working on a fix. The node wrapper cant find the commands in user namespace as , the cli moved it to its own npm module

#453 is the PR for it

[2021-01-16 22:07] ImJohnMDaniel commented on #454
@azlam-abdulsalam -- If you don't mind, would you point me to the active branch that has the hotfix for this issue.  I already have the project setup locally and could verify the fix.  My teams are evaluating Scratch Org Pooling.  We would like to evaluate this weekend as we have some high priority projects that need something like this immediately.  At the moment, the evaluation is blocked by thi

[2021-01-16 22:12] azlam-abdulsalam commented on #454
Awesome, happy to help, dm me directly for anything you need to make ot work :)

https://github.com/Accenture/sfpowerkit/tree/hotfix/pool

If you are looking at the CI side of stuff, have a look at sfpowerscripts orchestrator as well.

https://dxatscale.gitbook.io/sfpowerscripts/faq/orchestrator
https://github.com/Accenture/sfpowerscripts

[2021-01-17 09:08] azlam-abdulsalam commented on #456
@manisfdcsfdx  we might need a hotfix for this, lets reschedule for an early release

[2021-01-17 21:57] manisfdcsfdx commented on #456
sure once pool:create is fixed lets release both in a hotfix.

[2021-01-17 23:23] #456 closed

[2021-01-17 23:23] #454 closed

[2021-01-18 06:40] maazinbeig opened #460 "Login Flows component in profiles"
**Describe the bug**
"LoginFlow" metadata component in .profile file not detected using "sfdx sfpowerkit:project:diff"

**To Reproduce**
Steps to reproduce the behavior:
1. Make changes/ add "Login Flow" on a sandbox (Metadata for login flow introduced by Salesforce in API 51)
2. More information on adding loginFlow metadata can be found here: https://developer.salesforce.com/docs/atlas.en-us.230.

[2021-01-19 14:42] nabondance opened #461 "The pool option --batchsize do nothing"
**Describe the bug**
The command `sfpowerkit:pool:create --configfilepath=config/so-pool-config.json --targetdevhubusername=DevHub --batchsize=2` doesn't take in consideration the --batchsize option.
No matter the number of the batchsize (1,2,6,10), it always create every scratch org, like if the option doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:

1. Having a config file at c

[2021-01-19 20:46] azlam-abdulsalam commented on #461
@nabondance Batch size is to control the number of parallel threads used for running the scripts (usually for installing packages).

When you are running in user mode, like in the example provided, the number of scratch orgs allocated  is a sum of max_allocation for all users

[2021-01-19 21:52] azlam-abdulsalam commented on #460
@genoud  Can you have a look?

[2021-01-19 22:22] azlam-abdulsalam commented on #460
@genoud  this affects profile commands as well

[2021-01-20 01:07] qswh opened #462 "PMD Document Version Does Not Match Error"
**Describe the bug**
A clear and concise description of what the bug is.
Running this command in my local throw error
sfdx sfpowerkit:source:pmd -d force-app -r sfpowerkit -f text
error as below.
net.sourceforge.pmd.RuleSetNotFoundException: Can't find resource 'null' for rule 'sfpowerkit'.  Make sure the resource is a valid file or URL and is on the CLASSPATH

This seems causing issue in SFpowers

[2021-01-20 22:53] azlam-abdulsalam commented on #462
@manisfdcsfdx  Need to update the default PMD version as well as update the rules

[2021-01-24 21:11] azlam-abdulsalam commented on #445
Closing this as no further feedback from @ramesh-karanji . Please feel free to reopen of required

[2021-01-24 21:11] #445 closed

[2021-01-26 05:33] #462 closed

[2021-01-26 05:41] #461 closed

[2021-01-26 07:03] #451 closed

[2021-01-29 07:10] maazinbeig commented on #460
The issue that caused the login flows to get deleted from the target org upon deployment of any permission in profiles (field permission/ apex class permission / page permission) has been fixed. Below article has all details:

field permission/ apex class permission / page permission

[2021-02-02 05:37] jaysonf-stuff opened #469 "Reconciling Profile from a sandbox does not remove Scratch Org Layout"
**Describe the bug**
When you retrieve profiles from production it may contain features that only exist in product, i.e standard__LightningInstrumentation, ActiveScratchOrg permissions etc.
When you reconcile the profile on a sandbox it removes those permission but not the `<layout>ActiveScratchOrg-Active Scratch Org Layout</layout>` causing issues on the way

**To Reproduce**
Steps to reproduce t

[2021-02-04 21:38] SeanCarroll1 opened #471 "Custom labels not being created in delta package"
**Describe the bug**
When running the **sfpowerkit:project:diff** command, the delta that is created is missing custom labels. All of the other metadata appears to be correct, apex class, lwc, layouts etc were all created. An empty labels folder is created in the delta package.
I have a pull request open where I can see the changes for custom labels, if I switch branches and do a manual diff on th

[2021-02-07 13:37] #460 closed

[2021-02-08 00:56] manisfdcsfdx commented on #471
@SeanCarroll1 can you check the diff.json in deltaPackage folder see if you can find the labels there.

It is working for me.
![image](https://user-images.githubusercontent.com/44075423/107164799-a2e0ff80-6a04-11eb-821b-56792f407445.png)

[2021-02-09 21:33] SeanCarroll1 commented on #471
Hi @manisfdcsfdx

I created a new branch with one new custom label and tried creating a delta between the two.
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/5614304/107430921-c9319880-6af3-11eb-8b95-e40ec5a30097.png)
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/5614304/107430930-cb93f280-6af3-11eb-9c42-a24bfd1220b8.png)

The diff.json is empty, it d

[2021-02-10 01:37] manisfdcsfdx commented on #471
Hey @SeanCarroll1, No Actually my project is in source format only.  looks like you are the one using metadata format. in your screenshot i can see **custombales.labels** which is metadata format extension. source format will have extension as **CustomLabels.labels-meta.xml**

[2021-02-10 14:56] SeanCarroll1 commented on #471
Hey @manisfdcsfdx

The -meta.xml portion is hidden, I am using intellij & illuminated cloud (It also hides the meta file for LWC). I attached images of the branch's metadata in VS code. Below is the same branch.

![image](https://user-images.githubusercontent.com/5614304/107524293-9c2cc680-6b83-11eb-911f-06cb05139626.png)

I ran the command **sfpowerkit:project:diff** again with logs
![image](http

[2021-02-10 23:20] manisfdcsfdx commented on #471
@SeanCarroll1  may i know what is your api version in your sfdx-project.json. I will try it out again in fresh repo and get back to you.

[2021-02-11 16:28] SeanCarroll1 commented on #471
Hi @manisfdcsfdx, of course

`{
  "packageDirectories": [
    {
      "path": "force-app",
      "default": true
    }
  ],
  "namespace": "",
  "sfdcLoginUrl": "https://login.salesforce.com",
  "sourceApiVersion": "50.0"
}`

Let me know if anything else, thanks

[2021-02-12 12:37] manisfdcsfdx commented on #471
@SeanCarroll1 I forked[ lwc-recipes](https://github.com/manisfdcsfdx/lwc-recipes) repo did some digging looks everything working fine.

Created a [PR 1](https://github.com/manisfdcsfdx/lwc-recipes/pull/1) to added a new custom label file and committed the delta result as well.

Created a [PR 1](https://github.com/manisfdcsfdx/lwc-recipes/pull/2) to add and remove custom label in existing file and

[2021-02-12 20:05] SeanCarroll1 commented on #471
Hi @manisfdcsfdx,

I cloned your repo and ran the same command and received an error - parsing diff
![image](https://user-images.githubusercontent.com/5614304/107817037-8d8d0d80-6d43-11eb-9c8f-08eec8f6d7bc.png)

I tried reinstalling the plugin, sfdx and vs code but still receiving this error. I've not made any changes to the branch.

[2021-02-13 02:09] manisfdcsfdx commented on #471
@SeanCarroll1 - Interesting i will do some more digging again in different OS also, will get back. @azlam-abdulsalam any thoughts ?

[2021-02-13 02:42] azlam-abdulsalam commented on #471
@SeanCarroll1  @manisfdcsfdx  let me get back to both of you. Thx!

[2021-02-15 02:47] manisfdcsfdx commented on #471
@SeanCarroll1 i tested in different machines and different OS cant find any issue. is it possible for you to test this in any other machine and confirm the behavior over there?

[2021-02-18 13:16] #469 closed

[2021-02-18 21:30] jaysonf-stuff commented on #469
thanks guys!

[2021-02-18 23:12] manisfdcsfdx commented on #469
@jaysonf-stuff Fix is available in alpha version you can install
`sfdx plugins:install sfpowerkit@alpha`
or
clone the repo and link
`sfdx plugins:link` and `npm i`

[2021-02-19 02:28] SeanCarroll1 commented on #471
Hi @manisfdcsfdx ,

I can confirm that it worked on another computer when I cloned your repo and ran the same commands.

I will try to look into what is causing the issue, the only difference I am aware of isthe  java version is older on the laptop that the commands do not work on.

[2021-02-19 03:54] manisfdcsfdx commented on #471
Thanks for the confirmation @SeanCarroll1, I will keep this issue open for now and let us know if you anything that is making this inconsistency. If there is any issue with the command we will try to fix else we can close it.

[2021-02-21 21:16] azlam-abdulsalam commented on #448
@crazynammer  Can you confirm this is fixed in the latest alpha version.

[2021-02-22 10:35] takahitomiyamoto opened #477 "sfdx sfpowerkit:source:pmd is not working with two rulesets"
**Describe the bug**
Hello, we have two ruleset files, like this:

[code]

However, `sfdx sfpowerkit:source:pmd` is not working with two rulesets on version `2.6.5`.
We have checked and it seems that the version `2.4.13` is working fine.

Could you resolve this issue?

**To Reproduce**

$ sfdx -v

$ sfdx plugins

$ sfdx sfpowerkit:source:pmd --format summaryhtml --report .reports/pmd.html --rulese

[2021-02-25 17:47] nabondance opened #478 "sfdx sfpowerkit:pool:fetch get "Provisioning in progress" scratch orgs"
**Describe the bug**
Running the command `sfdx sfpowerkit:pool:fetch --tag=myTag --targetdevhubusername=DevHub` get scratch org still in status `Provisioning in progress`.

**To Reproduce**
1. Create a pool using `sfdx sfpowerkit:pool:create --configfilepath=config.json --targetdevhubusername=DevHub`.
2. The pool is configured to run custom script on creation.
3. Scratch orgs are still in status `

[2021-02-25 18:03] nabondance opened #479 "sfdx sfpowerkit:pool:create doesn't increment numbers well"
**Describe the bug**
Running the command `sfdx sfpowerkit:pool:create --configfilepath=config.json --targetdevhubusername=DevHub` creates the required number of scratch orgs but says "Creating Scratch  Org  i_org of MAX.." with incorrect i_org indentation.
The indentation loops on smaller then it should.
For example, if the number of required scratch org is 11, for each scratch org we have:

The m

[2021-02-25 21:14] azlam-abdulsalam commented on #479
I believe this is in user mode?

I have noticed this and will be fixing it.

[2021-02-26 13:04] nabondance commented on #479
Yes I use a poolUsers list in the pool config json.

That's great if it will be fixed soon, thank you.

[2021-02-26 14:23] azlam-abdulsalam commented on #478
@nabondance  can you confirm you have updated the DevHub with latest prerequisites. ?

@manisfdcsfdx  fyi

[2021-02-26 14:31] nabondance commented on #478
Hi @azlam-abdulsalam,
I've pushed the [latest folder](https://github.com/Accenture/sfpowerkit/tree/main/src_saleforce_packages/scratchorgpool/force-app/main/default) using [the doc](https://github.com/Accenture/sfpowerkit/wiki/Getting-started-with-ScratchOrg-Pooling#1-install-the-supporting-fields-and-validation-rule-to-devhub) in the DevHub if it's your question.
Tell me if you where talking abou

[2021-02-26 14:32] azlam-abdulsalam commented on #478
No, then its all fine, is this a repeated behaviour and are you getting incomplete orgs?

[2021-02-26 17:19] nabondance commented on #478
Hi,
I've done more testing on this issue:
- Each time I have a scratch org in "Provisioning in progress" I can fetch it and assign it to me.
- It looks like the script doesn't stop executing.

But it's still an issue, if an user/CI get a scratch org and push things while the script isn't finished, it won't work or will break the scratch org.

I've found a workaround if someone else have the same i

[2021-02-26 22:42] azlam-abdulsalam commented on #478
Looking at it,  @manisfdcsfdx  as per the workflow only Scratch Orgs that have allocated status could move to assigned

https://github.com/Accenture/sfpowerkit/blob/main/src_saleforce_packages/scratchorgpool/force-app/main/default/workflows/ScratchOrgInfo.workflow-meta.xml

[2021-02-27 02:23] #471 closed

[2021-02-27 02:37] #478 closed

[2021-02-27 03:37] #477 closed

[2021-02-27 09:24] azlam-abdulsalam opened #482 "Incorrect error during sfpowerkit package dependencies list"
**Describe the bug**
sfpowerkit doesnt display proper errors when it is unable to find a package alias properly during dependencies list. For eg: it throws this error
![image](https://user-images.githubusercontent.com/43767972/109383252-705a6080-7939-11eb-82bb-9c1388e6a9e3.png)

**To Reproduce**

1. Create a sfdx-project.json with multiple packages in sfdx-project.json
2. Ensure that package is no

[2021-02-27 10:32] #482 closed

[2021-02-27 21:44] azlam-abdulsalam commented on #478
Fixed in upcoming release tomorrow

[2021-03-01 06:28] #448 closed

[2021-03-02 23:57] manisfdcsfdx opened #485 "Allow SARIF as a format for PMD Analysis"
With version [6.31.0](https://pmd.github.io/latest/pmd_release_notes_old.html#sarif-format), PMD has added support for SARIF as a report format. Currently, `sarif` is not an allowed option for the `--format` flag in `sfdx ssfpowerkit:source:pmd` command.

[2021-03-03 00:49] #485 closed

[2021-03-03 08:57] LawrenceLoz opened #486 "Possible issue with org shape compatibility"
**Describe the bug**
Using the command "sfdx sfpowerkit:pool:create -f scratchorg-poolconfig.json -v MyDevHub" with a scratchorg-poolconfig.json which references a project-scratch-def.json with an org shape ("sourceOrg") attribute for our production org leads to "Unable to provision scratch org" errors in output

**To Reproduce**
Create scratch org shape, and a project-scratch-def.json referencing

[2021-03-03 23:45] manisfdcsfdx commented on #486
@LawrenceLoz can you confirm few things

1. build runs in which user context
2. the build user has access to the shape org?
3. can you just run `sfdx force:org:create -f scratchorg-poolconfig.json -v MyDevHub` in your pipeline to see if the scratch org is getting created using shape.

this will help us to narrow down the issue. @azlam-abdulsalam

[2021-03-04 09:08] LawrenceLoz commented on #486
Hi @manisfdcsfdx

Thanks for looking into this.

I've seen the same issue for two users, one of which is our deployment (CI) user. This user has minimal permissions required for deployment and does have access to the org the shape was taken from (the Dev Hub)

The issue also happens for my personal account, which is on the standard system admin profile in the Dev Hub and I originally generated the

[2021-03-04 09:45] azlam-abdulsalam commented on #486
@LawrenceLoz  is this particular devhub have all the prerequisite fields (for pools) deployed?  This is an interesting one!

[2021-03-04 10:13] LawrenceLoz commented on #486
@azlam-abdulsalam yes pretty sure it does - I deployed these fairly recently.

Also worth mentioning the DevHub and project-scratch-def.json are the same ones I've been using with sfpowerscripts:orchestrator:prepare and have seen this successfully create a scratch org with the org shape.

[2021-03-04 11:15] azlam-abdulsalam commented on #486
Aha, then it should be easy to fix, something with script execution then..

[2021-03-04 21:16] hsaraujo opened #487 "Cannot reconcile profile with "-s" flag"
**Describe the bug**
Cannot reconcile profile with "-s" flag.
By looking at the code,  apparently a bug was implemented in the latest 2 releases. The reconcile methods on the "profileReconcile.ts" class are now instantiating this "MetadataRetriever" class which requires a Connection as an argument in the constructor.
The problem is that when the "-s" flag passed, you shouldn't need a connection as

[2021-03-04 21:18] azlam-abdulsalam commented on #487
@hsaraujo  Thanks for reporting! Will be fixing it in a short while

@manisfdcsfdx  fyi

[2021-03-05 00:37] azlam-abdulsalam commented on #486
@LawrenceLoz  I am unable to reproduce this issue, I have pushed a branch which doesn't suppress the error logs, so we can see what is going on. The branch is chore/inspect_shape

Can you clone this repo and do the following in the particular directory
1. npm i
2. sfdx plugins:link
3. create a pool and then drop me the logs

[2021-03-05 01:45] #487 closed

[2021-03-05 01:49] manisfdcsfdx commented on #487
@hsaraujo fix is available in v2.7.8 try `sfdx plugins:install sfpowerkit@2.7.8`

[2021-03-05 07:52] LawrenceLoz commented on #486
Thanks Azlam, output attached for a run using version in the branch with and without the org shape being used in project-scratch-def.json. Looks like there may be some pointers there:
[createWithOrgShape.log](https://github.com/Accenture/sfpowerkit/files/6088914/createWithOrgShape.log)
[createWithoutOrgShape.log](https://github.com/Accenture/sfpowerkit/files/6088915/createWithoutOrgShape.log)

Let

[2021-03-05 10:20] azlam-abdulsalam commented on #486
@LawrenceLoz  something  in your production settings is getting carried into the scratch org, which is preventing a password to be generated.

Can you try creating a password using
https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_scratch_orgs_passwd.htm

And let us know

@manisfdcsfdx

[2021-03-05 10:59] LawrenceLoz commented on #486
Yes you're right @azlam-abdulsalam - getting the message below setting a password

[code]

(setting password is fine in a scratch org without a shape)

enableSetPasswordInApi deprecated in v51.0 and I can't think which setting in the UI might affect this in the shape... In any case though not an issue with sfpowerkit (a clearer warning without logs would be helpful but a nice to have) - happy for

[2021-03-05 13:02] azlam-abdulsalam commented on #486
I will create a PR for fixing the error log.

Thanks for your support.

[2021-03-06 04:59] LawrenceLoz commented on #486
Hi @azlam-abdulsalam looking into this a bit more I don't think there's an easy workaround and this is something which will likely affect others as well.

The reason I was struggling to find a setting in the UI is that this relates to a permission "Allow use of setPassword() API for self-resets" which is no longer available once it's been deactivated in the org. Here are before/after screenshots o

[2021-03-06 06:20] LawrenceLoz commented on #486
Sorry please ignore my last message - just documentation explaining the override has been moved from a setting to a feature (https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md)

Using `"features": ["EnableSetPasswordInApi"]` in my project-scratch-def.json this is now working. Thanks again for your help @azlam-abdulsalam and @manisfdcsfdx

[2021-03-08 03:04] manisfdcsfdx commented on #486
@LawrenceLoz so are you able to create scratch org with and without shape and password is set for both scratch org as well.

I will add `"features": ["EnableSetPasswordInApi"]` in recommendations in order to create with password or else i will add a warning password cannot be set for the scratch org, use JWT auth flow to access the scratch org.

@azlam-abdulsalam FYI

[2021-03-08 06:14] qswh opened #489 "When the package ID is put as 15 character it should auto convert it to 18 character"
**Is your feature request related to a problem? Please describe.**
If package id is used in 15 character format, package: dependencies: install is unable  to detect whether the same package is already installed in the org.
**Describe the solution you'd like**
Auto convert it to 18 character based on this logic.
https://help.salesforce.com/articleView?id=000319308&type=1&mode=1

[2021-03-08 06:18] qswh commented on #489
https://www.gammone.com/programmazione/come-convertire-id-salesforce-da-15-a-18-caratteri this might be better to check its logic.

[2021-03-08 07:54] manisfdcsfdx commented on #486
@LawrenceLoz I have added the error handling and necessary warning can you try v2.8.1 using `sfdx plugins:install sfpowerkit@2.8.1` let us know if works for you.

[2021-03-08 10:46] manisfdcsfdx commented on #489
@qswh I have applied the fix in v.2.8.2 can you try it using `sfdx plugins:install sfpowerkit@2.8.2` let us know if works for you.

[2021-03-08 14:47] WellWisherCoder opened #492 "Profile reconcile command throwing errors when reconciling custom profile, NOT ABLE to reconcile profiles"
`sfdx sfpowerkit:source:profile:reconcile -s  -n "Custom Profile"`

Error i got :

`WARNING: apiVersion configuration overridden at "51.0"
INFO     [2021-03-08 14:40:07.140 +0000] (sfpowerkit): Reconciling profile C:\Users\rp\Documents\VSCODE_PROJECTS\ORG\force-app\main\default\profi
ERROR    [2021-03-08 14:40:07.222 +0000] (sfpowerkit): Cannot read property 'getUnsupportedLicencePermissions' of u

[2021-03-08 20:48] azlam-abdulsalam commented on #492
@WellWisherCoder can you confirm the version number?

[2021-03-09 00:55] azlam-abdulsalam opened #493 "Package:dependencies:install fails to install dependencies on mono repo"
**Describe the bug**
On a Mono Repo, where Package A and Package B is part of the same repo, and Package B is dependent on Package A, If a user changes version of Package A and also updates the dependencies of Package B to point to the new (yet to created) version of Package A, then sfpowerkit fails to install any dependencies complaining Package A is not found.

**To Reproduce**
Steps to reproduc

[2021-03-09 04:59] #489 closed

[2021-03-09 05:29] LawrenceLoz commented on #486
Thanks @manisfdcsfdx, this looks good. Without EnableSetPasswordInApi I can see the raw Salesforce error and the sfpowerkit message indicating the failing step. Also checked this still works successfully when permission is set.

Good to see there's a more helpful error message in the new version of the CLI too: https://github.com/forcedotcom/cli/blob/main/releasenotes/README.md

[2021-03-09 23:12] manisfdcsfdx commented on #486
Thanks @LawrenceLoz glad this helps, closing the issue now. Feel free to raise any issue and reach out in case of any assistance required.

[2021-03-09 23:12] #486 closed

[2021-03-09 23:39] #493 closed

[2021-03-10 02:30] manisfdcsfdx commented on #492
@WellWisherCoder hotfix is applied in v2.7.10

[2021-03-10 02:30] #492 closed

[2021-03-11 00:47] manisfdcsfdx commented on #260
@jhawk-4 we have applied the enhancement and lot of refactor under the hood. this is available from v.2.8.5

[2021-03-29 22:37] azlam-abdulsalam opened #499 "Helper Command to manage dependencies"
**Is your feature request related to a problem? Please describe.**
On a large scale project, when delivered using mono repo, the number of packages are very high, mostly 30+ with dependencies on many other packages. Updating dependencies manually is very hard, especially when there is a breaking change in a package that is way up in the dependency tree, one has to carefully update dependencies one

[2021-04-08 00:48] azlam-abdulsalam opened #500 "LayoutAssignments are incorrectly stripped out during reconcile"
**Describe the bug**
LayoutAssignments  with recordtype are getting stripped out during reconcile, This happens  if the org doesn't have person account enabled

**To Reproduce**
Steps to reproduce the behavior:

1. On an org without person account enabled
2. Run sfdx sfpowerkit:profile:reconcile -f src-access-management
3. Notice layout assignments with record type are getting stripped

**Expected

[2021-04-08 14:00] #500 closed

[2021-04-12 10:38] Caitlyn-Mills opened #503 "JSON Pool schema available as a reference and validate during creation"
**Is your feature request related to a problem? Please describe.**
There is no JSON schema available for pool config file. Examples do exist, however users are confused on what are the available options. A JSON schema and associated validation will prevent issues

**Describe the solution you'd like**
A JSON schema to be created

[2021-04-19 15:37] artnbondarenko opened #504 ""sfpowerkit:project:diff" command fails to generate the delta on modified profiles"
**Description:**
When executing the sfdx sfpowerkit:project:diff command on modified profile getting error "Non-whitespace before first tag."

**To Reproduce:**
1. Modify profile and commit changes.
2. sfdx sfpowerkit:project:diff --revisionfrom abc --output delta --loglevel DEBUG

**Desktop:**
- OS: RedHat 7.9
- Node Version: 12.18.3
- Version of sfpowerkit: 2.8.7

**Additional context**
Full log

[2021-04-20 21:29] genoud commented on #504
@artnbondarenko Have you modified the profile manually?
This issue seems to be link to a bug in xml2js.
https://github.com/Leonidas-from-XIV/node-xml2js/issues/345
https://github.com/Leonidas-from-XIV/node-xml2js/issues/390

[2021-04-23 14:20] genoud commented on #504
Hi @artnbondarenko ,

We use `git show ` to retrieve file content from git. So if you profile in the revision **abc** is a valid xml, this issue should not happen.

Thanks

[2021-04-23 14:27] artnbondarenko commented on #504
That's the point. xml is valid. I tried to format using ways above what you provided and also checked via hex editor. Could you please just to test it on your end?

[2021-04-26 01:00] ashokkumar14 opened #506 "Create package failed"
**Describe the bug**
Create package failed when dependent package version is in format 'X.X.X.NEXT'

**To Reproduce**
Set dependent package version in format 'X.X.X.NEXT'

**Expected behavior**
Package created

**Screenshots**
[code]

**Platform Details (please complete the following information):**
 - OS:
 - Version [e.g. CLI Version  eg: 1.6.6]
 - Salesforce Version:
 - CI Platform:

**Additiona

[2021-04-27 00:07] #506 closed

[2021-04-27 02:40] genoud commented on #504
@artnbondarenko I was not able to reproduce this. Tested on Mac and Windows. Not able to test on RedHat.

[2021-04-27 08:08] gudavies opened #509 "PMD java exception ApexTreeBuilder"
**Describe the bug**
Running PMD cmd

**To Reproduce**
Steps to reproduce the behavior:
Retrieve few apex classes & triggers
sfdx sfpowerkit:source:pmd --version=6.34.0

**Expected behavior**
PMD report to be returned

**Actual Error**
C:\code\project>sfdx sfpowerkit:source:pmd --version=6.34.0
WARNING: apiVersion configuration overridden at "51.0"
INFO [2021-04-27 06:43:21.840 +0000] (sfpowerkit)

[2021-04-30 00:43] azlam-abdulsalam opened #512 "Encountered an issue when executing prepare command."
Encountered an issue when executing prepare command.
sfdx sfpowerscripts:orchestrator:prepare -t <scratchorgname>-v <devhub>--installall --installassourcepackages -m 1 --succeedondeploymenterrors | tee sfdx_logs.txt

Please see below errors:

NAME PACKAGE VERSION NAME PACKAGE VERSION ID VERSION NUMBER
─────────────────────── ──────────────────── ────────────────── ──────────────
sfpowerscripts-art

[2021-04-30 00:44] azlam-abdulsalam commented on #512
@manisfdcsfdx  this is a bug where a dependencies is not available in packageAliases. sfpowerkit should throw proper error message

[2021-04-30 09:06] domrin123 opened #513 "sfpowerkit:project:diff not generating recordType when businessProcess diff detected"
**Describe the bug**
When a businessProcesses for an object has been added and I run sfpowerkit:project:diff, the command runs and generates a source folder, but when running sfdx force:source:deploy for the generated diff I get:

`An object 'Opportunity.Wholesale' of type RecordType was named in package.xml, but was not found in zipped directory`

This appears to be because while the "businessPro

[2021-05-02 14:51] genoud commented on #513
I was not able to reproduce this issue. Not sure if this is related to business process as they does not have dependency on Record Type. https://developer.salesforce.com/docs/atlas.en-us.230.0.api_meta.meta/api_meta/meta_businessprocess.htm.
@domrin123  can you provide the output of your diff command?

[2021-05-03 04:36] rody commented on #509
Hello @gudavies,
It seems to be an issue with the Apex parser when building the AST.
Can you try the following:

`sfdx sfpowerkit:source:pmd --version=6.30.0`

This will use the previous PMD version that was used by sfpowerkit. If the error disappears, it might be an issue with PMD itself.
If it does not solve the issue, can you identify the file (or the minimum set of files) to reproduce the erro

[2021-05-03 05:39] rody opened #514 "source:pmd report generation enhancements"
**Is your feature request related to a problem? Please describe.**
The current version of `source:pmd` takes a `format` parameter, but it is never used. Instead the command always generates an xml report file. AFAIK, there is no possibility of running PMD from sfpowerkit without generating the output xml.
This behaviour is not aligned with the other sfdx commands, which by default output to stdout

[2021-05-03 05:57] gudavies commented on #509
C:\code\project>sfdx sfpowerkit:source:pmd --version=6.30.0
WARNING: apiVersion configuration overridden at "50.0"
INFO [2021-05-03 05:56:00.726 +0000] (sfpowerkit): Found Java Home at C:\Program Files\Zulu\zulu-11
INFO [2021-05-03 05:56:00.776 +0000] (sfpowerkit): PMD release 6.30.0
INFO [2021-05-03 05:56:00.776 +0000] (sfpowerkit): Now analyzing force-app
INFO [2021-05-03 05:56:24.443 +0000] (sf

[2021-05-03 06:48] gudavies commented on #509
Per current analysis, identified has to do with something in one of the classes, as a fresh project with few classes worked.
remove those containing ?.
however something else is still causing same issue

[2021-05-03 07:59] rody opened #515 "Use stderr for logs"
**Describe the bug**
Most of the commands uses stdout to display a command output and for logging.
This prevents parsing the output of a command as the logs are mixed with the output.

**To Reproduce**
for example:

`sfdx sfpowerkit:org:healthcheck | jq "."`

results in `parse error: Invalid numeric literal at line 1, column 13` because of this log on stdout: `Successfully Retrived Health Check De

[2021-05-04 01:05] rody commented on #515
related to https://github.com/oclif/cli-ux/issues/155

[2021-05-04 08:04] domrin123 commented on #513
Yeah I assumed it was to do with the businessProcess because if I remove the businessProcess, the deploy works ok. Likewise, if I include the relevant recordType, the deploy works ok too. I've attached the output for the diff.
[diff.txt](https://github.com/Accenture/sfpowerkit/files/6419733/diff.txt)

[2021-05-04 08:14] domrin123 commented on #513
Actually - apologies. I believe this error was thrown due a mismatch in the source in the org, whereby the recordType should already have existed. I'll close this. Thanks for looking into this.

[2021-05-04 08:14] #513 closed

[2021-05-10 00:40] rblancho-transurban commented on #515
for the `source:pmd` command, the fix is in https://github.com/Accenture/sfpowerkit/pull/516

[2021-05-10 05:16] rody commented on #515
for the `source:pmd` command, the fix is in #516

[2021-05-13 05:03] #514 closed

[2021-05-17 19:19] abhisheksaxena7 opened #517 "Activity Custom Fields' permissions are incorrectly stripped out during reconcile"
**Describe the bug**
The profile reconcile command removes the permissions for Activity custom fields after running. I assume that's because in profile the permissions come with Task.customFieldName and Event.customFieldName but the actual custom fields reside in the Activity/fields folder instead of Task/fields and Event/fields.

**To Reproduce**
Steps to reproduce the behavior:

1. Have Activity

[2021-05-20 22:03] henry88lay opened #520 "powerkit install package dependencies issue"
issue occurring when run sfpowerkit:power:dependencies:install please investigate further.
WORKING ON ADDING MORE DETAIL.

[2021-05-20 22:11] azlam-abdulsalam commented on #520
@henry88lay  would you be able to provide more details

[2021-05-25 14:00] azlam-abdulsalam commented on #479
@nabondance  aplogies for the delay, finally got a chance to address it, will be part of the next release

[2021-05-25 23:01] azlam-abdulsalam commented on #520
@henry88lay  I am closing this issue as it doesn't have enough details. Please feel free to reopen

[2021-05-25 23:01] #520 closed

[2021-05-25 23:03] azlam-abdulsalam commented on #517
This is fixed, available in alpha, will be part of next release

[2021-05-25 23:03] #517 closed

[2021-05-25 23:03] azlam-abdulsalam commented on #512
@manisfdcsfdx  is this fixed?

[2021-05-25 23:04] azlam-abdulsalam commented on #504
@genoud  can we close this, if there is no further progress on this one?

[2021-05-25 23:07] genoud commented on #504
Yes we can close it.

[2021-05-26 02:39] jjulicher opened #522 "latest SFDX saves all logins as lowercase but alias doesn't reflect this."
If you run the sfpowerkit auth with a username with any caps in and set an alias e.g.  "-u john.doe@org.com.JDDEV -a myAlias"
it will be saved as john.doe@org.com.jddev under the sfdx cli. However, the alias will reference john.doe@org.com.JDDEV and subsequent requests will fail using the myAlias alias.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:auth:login -u [UsernameW

[2021-05-26 07:28] #504 closed

[2021-05-31 23:55] #479 closed

[2021-05-31 23:56] #512 closed

[2021-05-31 23:56] azlam-abdulsalam commented on #512
This is fixed

[2021-06-01 02:15] bmpandey opened #524 "Reconciling ExternalDataSources failing"
sfpowerkit 2.9.2

INFO [2021-06-01 02:09:56.295 +0000] (sfpowerkit): Reconciling profile C:\tools\my_sf_project\CCM\src-access-mgmt\main\default\profiles\Business Administration.profile-meta.xml
DEBUG [2021-06-01 02:09:56.562 +0000] (sfpowerkit): Reconciling App
DEBUG [2021-06-01 02:09:56.780 +0000] (sfpowerkit): Application Visiblitilties reduced from 31  to  30
DEBUG [2021-06-01 02:09:56.781 +00

[2021-06-02 04:56] azlam-abdulsalam commented on #524
@genoud  can you have a look at this one?

[2021-06-07 07:03] henry88lay commented on #503
reference to the branch #527

[2021-06-09 10:33] nabondance commented on #515
This issue also concern pool commands.
For example with `sfpowerkit:pool:create`:
![create json](https://user-images.githubusercontent.com/32196400/121338638-f9f8d180-c91d-11eb-85b1-574bb9dd7b7a.png)

It looks like the standard cli output is mixed with the plugin json output.

[2021-06-09 15:18] #509 closed

[2021-06-11 04:48] aly76 opened #529 "Sharing rule on ActiveScratchOrgs does not permit deletions"
Non-admin users can be given access to fetch scratch orgs by applying a sharing rule on the ScratchOrgInfo object. However,  a similar approach does not work for deleting scratch orgs because sharing rules on the ActiveScratchOrg object do not provide delete access.

We need a best solution for allowing non-admins to delete scratch orgs from a pool, locally on their command-line.

[2021-06-11 13:45] LawrenceLoz commented on #529
Hi @aly76 and @azlam-abdulsalam, would a permission set with Modify All (inc. Delete) on the Scratch Orgs Info / Active Scratch Org objects address this? This could be assigned to non-admins without extending their permissions beyond scratch org related objects

[2021-06-12 02:13] #524 closed

[2021-06-13 23:21] azlam-abdulsalam commented on #529
@LawrenceLoz Yes, it would solve it. However, need to work out if any security implications can arise out if it.

@FabienTaillon  @manisfdcsfdx  your opinions?

[2021-06-15 00:26] aly76 commented on #529
Yeah, a permission set would work, but the security implication being that they have ability to modify all scratch orgs - not just the ones created by the CI user.

[2021-06-15 00:58] LawrenceLoz commented on #529
Yes that's right, technically they could authenticate to or modify the records for orgs outside the pool. If your aim is to isolate developers' access to specific pools then alternatively could change ownership of the Active Scratch Org record to the user on fetch. With delete perm on the object they should be able to delete that record (but not others they don't own)

[2021-06-15 10:46] azlam-abdulsalam commented on #529
These are the scenarios that I could think of
- A pool getting dropped by a non admin user?
  - Could be added by additional confirmation prompts in pool:delete
- Developer license restrictions?
   -  @aly76  to confirm whether developer license has any restrictions on these objects from applying modify All
-  Changing the owner of the record?
  - @LawrenceLoz  dont we need trigger for this? I was

[2021-06-17 05:32] LawrenceLoz commented on #529
Hi @azlam-abdulsalam, to reassign the owner you could use either code or a record triggered flow, but you're right I think we'd need additional automation in the org (in the scratchorgpool package I suppose) to run without sharing as the user wouldn't have access to do this directly. We might also need a new field on ScratchOrgInfo to be set to the user the org is allocated to on fetch.

This appr

[2021-06-17 12:39] azlam-abdulsalam commented on #529
FYI everyone, developer license doesn't allow you to have modify all permission on ScratchorgInfo Object. so basically we keep it simple, if you're using standard license then probably a permset with ModifyAll, if not available use a pipeline to delete

[2021-06-17 16:44] msimonis opened #531 "Option to Skip the Pool Create Pre-Requisite Check"
**Is your feature request related to a problem? Please describe.**
Currently the way the pre-requisite check works for creating pools, is that it uses the metadata API to verify that the ScratchOrgInfo has the Allocation_status__c field. But this requires ModifyAllData or ModifyMetadata permissions for the user running the script, which is not always ideal.

**Describe the solution you'd like**
A

[2021-06-17 23:02] azlam-abdulsalam commented on #531
Are you planning to roll this command out per developer? as in each one creates their own pool. We typically use this in a CI/CD pipeline with a service account responsible for creating the pool daily

[2021-06-18 12:52] msimonis commented on #531
@azlam-abdulsalam not per developer, but a specific few. Maybe not the primary use case, but I have found it nice to do testing of the pool locally before automating it on a CI/CD pipeline. And from what I can tell, the pre-requisite check was the only logic requiring such permissions.

[2021-06-22 21:20] msimonis opened #535 "SfdxAuthUrl not being set with clean install of pool package"
**Describe the bug**
When generating scratch orgs, currently the SfdxAuthUrl is not getting set because of an early break inside of a loop.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the latest version of the pool package into an org
2. Create a pool
3. Observe the SfdxAuthUrl is not set

**Expected behavior**
I would expect the SfdxAuthUrl to be set when generating scratch org

[2021-06-22 21:31] azlam-abdulsalam commented on #535
@msimonis  Thanks for this.. weird how we were able to test it. Thanks for the fix!

[2021-06-22 21:38] #535 closed

[2021-06-22 23:09] vuha-acn opened #537 "Error During Profile Reconcile - TypeError: items.find is not a function"
**Describe the bug**
Retrieved and attempted to reconcile profile and received the error message - TypeError: items.find is not a function

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx sfpowerkit:source:profile:retrieve -n "Profile 1" -u OrgAlias
2. sfdx sfpowerkit:source:profile:reconcile -u OrgAlias -f access-mgmt/main/default/profiles -n "Profile 1"

**Expected behavior**
Reconcil

[2021-06-23 00:41] azlam-abdulsalam commented on #537
Duplicate of #524 . This is currently fixed in Beta and will be available as part of July Release

[2021-06-23 00:41] #537 closed

[2021-06-28 10:16] abrm099 opened #538 "PMD validate error"
**Describe the bug**
When the Azure Devops pipeline runs PMD static code analysis via sfpowerscripts sfpowerkit as per the following command line,
npx sfdx sfpowerkit:source:pmd -d  force-app-package_src_delta/force-app -f  text -r  setup/pmd-ruleset.xml --version=6.36.0 --loglevel INFO

I gives the following warning
{"name":"Pmd","hostname":"fv-az69-443","pid":2528,"level":40,"msg":"[\n  'WARNING

[2021-06-29 07:21] DougMidgley opened #539 "sfdx sfpowerkit:source:pmd fails to save output file"
**Describe the bug**
We noticed when running the command sfdx sfpowerkit:source:pmd that the pmd-output file was no longer being produced since the 28th June.
We managed to workaround using
`sfdx sfpowerkit:source:pmd -d=src_delta --version=${env:PMDVERSION} --report=pmd-output `
but noticed that --report is deprecated for --reportfile, getting the error
`--report is deprecated and will be removed

[2021-06-29 07:25] azlam-abdulsalam commented on #539
@rody Can you comment on this?

[2021-06-29 22:03] azlam-abdulsalam commented on #539
@DougMidgley  can you refer to this issue for the changes undertaken

https://github.com/Accenture/sfpowerkit/issues/514

[2021-06-30 04:24] rody commented on #539
We have aligned the options in the pmd command with the ones from PMD itself (hence the deprecated flags).
To restore the old behaviour, use the 'reportfile' flags and set it to pmd-output. You might also need to specify a format for the report.
(I don't have access to my computer at the moment, but feel free to ping me if you need more details)

[2021-07-01 00:28] rody commented on #539
@azlam-abdulsalam can we add an entry in the FAQ describing the command line options needed to reproduce the legacy behaviour with the current flags?

[2021-07-01 04:42] allisonarnaud opened #540 "sfdx sfpowerkit:source:pmd returning error "##[error]Bash exited with code '4'" after updating --report to --reportfile"
**Describe the bug**
When we updated "--report" to "--reportfile" to comply with "--report" deprecation for the command "sfdx sfpowerkit:source:pmd", our PR validation pipelines are now returning an error not previously seen, saying "##[error]Bash exited with code '4'" (see screenshot below), preventing the PMD check to complete.

Note: this was tested locally and the issue did not come up.

**To

[2021-07-01 06:00] Caitlyn-Mills commented on #540
@rody Any other reports of this behaviour?

[2021-07-01 07:19] stoevie opened #541 "sfdx sfpowerkit:pool:fetch auto logon feature not working in combination with --json parameter"
When using sfdx sfpowerkit:pool:fetch --tag <poolname> --json command the output doesn't contain information
the authorization was successful and is also not executed.

**To Reproduce**
Steps to reproduce the behavior:

sfdx auth:sfdxurl:store -f user.json --setdefaultdevhubusername --setalias DevHub (login to devhub)
RESULT=$(sfdx sfpowerkit:pool:fetch --tag testpool --json)

[2021-07-01 07:27] azlam-abdulsalam commented on #541
While using JSON, the autologin is currently disabled. You might have to use the details in the JSON and authenticate to the org using sfdx auth commands

I will have a look whether to improve it.

@aly76

[2021-07-01 07:37] rody commented on #540
Yes, that's an expected behavior.
After an analysis is complete, PMD exits with different exit code (see https://pmd.github.io/latest/pmd_userdocs_cli_reference.html for more details).

An exit code of 4 means that at least one violation has been found. Those exit codes are very useful for scripting (no need to parse the report file to detect if there was a violation).

If you only want to create

[2021-07-02 01:42] Caitlyn-Mills commented on #540
Thanks @rody appreciate the speedy response.

[2021-07-02 01:42] #540 closed

[2021-07-02 10:10] #522 closed

[2021-07-05 00:19] rody commented on #539
@DougMidgley Can we close the issue or do you need more infos?

[2021-07-06 12:30] azlam-abdulsalam commented on #541
Thaks @stoevie . We will be fixing this in the next release

[2021-07-06 17:58] msimonis opened #542 "Error Creating Pool with JWT Bearer Flow"
**Describe the bug**
In a CI environment, when running the `sfpowerkit:pool:create` command after authorizing with the JWT Bearer Flow, you will see an error: "Unable to provision scratch org  1 . Due to following Error: undefined refreshToken". This is due to the fact that the JWT flow does not provide a refresh token.

**To Reproduce**
Steps to reproduce the behavior:

1. sfdx auth:jwt:grant -i

[2021-07-06 22:03] azlam-abdulsalam commented on #542
Thanks @msimonis . We noticed this issue yesterday as we are refactoring pool code in sfpowerscripts. As  you mentioned it is about missing refresh token when using JWT.

 https://github.com/Accenture/sfpowerscripts/issues/540

Will be releasing a patch today.

[2021-07-06 22:05] azlam-abdulsalam commented on #539
@Caitlyn-Mills  Can you create a FAQ with the changes

[2021-07-07 03:30] #542 closed

[2021-07-07 06:18] azlam-abdulsalam commented on #542
This is currently fixed in 3.1.6

[2021-07-08 03:12] #503 closed

[2021-07-23 06:14] Aravindh04 opened #546 "Unable to generate apex test class list"
**Describe the bug**
Command to execute the apex test list runs into error during execution

**To Reproduce**
Open a salesforce project Repository
Run the command
[code]

1. sfdx sfpowerkit:source:apextest:list -p common/post --resultasstring

**Expected behavior**
To list down the Apex test classes associated with the repository

**Screenshots**
If applicable, add screenshots to help explain your

[2021-07-23 06:16] azlam-abdulsalam commented on #546
@aly76  and @manisfdcsfdx  can you triage this one

[2021-07-24 15:46] #529 closed

[2021-07-27 01:46] rody opened #547 "Readme file does not reflect the changes in sfpowerkit:source:pmd"
**Describe the bug**
The README file does not show the new parameters for the command `sfpowerkit:source:pmd`. I have not checked the other commands.

**To Reproduce**
run ` sfdx sfpowerkit:source:pmd --help` and compare the output with the one from the readme.

1.  sfdx sfpowerkit:source:pmd --help

**Expected behavior**
The Readme file should show the following:

[code]

**Desktop (please comple

[2021-07-27 01:48] rody commented on #547
Is the README autogenerated, or do you want me to raise a PR?

[2021-07-27 06:39] Caitlyn-Mills commented on #547
Thanks @rody readme is not autogenerated, I will do this

[2021-07-27 23:31] aly76 commented on #546
Might be a bad dependency in the latest build. Would suggest releasing a patch of sfpowerkit and seeing if the issue persists.

[2021-07-30 02:55] #547 closed

[2021-07-30 02:56] #546 closed

[2021-08-03 01:56] Caitlyn-Mills opened #550 "Latest release not able to create scratch org pools"
**Describe the bug**
Scratch org pool unable to execute command. SO Pool config does not meet schema requirements

**To Reproduce**
sfdx sfpowerkit:pool:create -f <path to so config file>

**Expected behavior**
Pool should be created as previously

**Screenshots**
![image](https://user-images.githubusercontent.com/63215232/127945388-13022e14-482f-428c-a112-16fddea37bed.png)

[2021-08-03 02:13] azlam-abdulsalam commented on #550
Releasing a hotfix which will rollback the changes

[2021-08-13 06:25] #539 closed

[2021-08-13 06:37] vuha-acn opened #553 "Add Package Metadata Validation Logic as pre-step to sfpowerscripts:orchestrator:validate"
**Describe the bug**
During package validation, ensure that the package contains valid metadata similar to the logic in sfpowerkit:package:valid.  Both the contents of the package for metadata as well as the sfdx-project.json file should be valid (eg. path of package is correct)  If there are errors, the validation should immediately fail before proceeding to validate against scratch org CI pools.

[2021-08-16 03:31] azlam-abdulsalam commented on #550
@henry88lay  please create another issue, as this was closed as part of the last release

[2021-08-16 03:31] #550 closed

[2021-08-16 03:31] henry88lay commented on #550
I made changes to the JSON Schema aligned to the sample and the doc.

Tested the new code against the following cases:
`
{
  "pool": {
    "expiry": 1,
    "config_file_path": "config/project-scratch-def.json",
    "tag": "sfpowerkit",
    "relax_ip_ranges": [
      {
        "start": "49.0.0.0",
        "end": "49.255.255.255"
      },
      {
        "start": "42.0.0.0",
        "end": "42.255.2

[2021-08-16 04:21] henry88lay opened #554 "Reintroducing JSON Schema Validation."
Previously a hotfix was done on this due to users being unable to create pools (refer to https://github.com/Accenture/sfpowerkit/issues/550)

Now reopening the old feature so that users will be able to know the options available for creating pools via: (refer to https://github.com/Accenture/sfpowerkit/issues/503)

`sfdx sfpowerkit:pool:create -f`

[2021-08-16 04:21] henry88lay commented on #554
I made changes to the JSON Schema aligned to the sample and the doc.

Tested the new code against the following cases:
Pool Mode
![Screen Shot 2021-08-16 at 1 32 40 pm](https://user-images.githubusercontent.com/40649970/129508014-789a8ef9-ef90-4e2e-bd5b-37656004371a.png)

Tag Mode
![Screen Shot 2021-08-16 at 1 08 00 pm](https://user-images.githubusercontent.com/40649970/129508043-5805e8ea-cd93-4ae

[2021-08-23 00:04] rblancho-transurban commented on #515
@azlam-abdulsalam  can we keep this one open ?

[2021-08-23 21:59] #554 closed

[2021-08-24 22:44] aly76 opened #559 "sfpowerkit:pool:create hangs on scratch org creation"
**Describe the bug**
The underlying SFDX CLI command `force:org:create` is encountering socket timeout, and the command is not exiting.

https://github.com/forcedotcom/cli/issues/1149

**Expected behavior**
Scratch org is created successfully or times out after 6 minutes

[2021-09-09 05:38] #541 closed

[2021-09-14 00:58] xpsp789 opened #565 "Using sfdx sfpowerkit:source:apextest:list doesn't detect a test class"
**Describe the bug**
When we've used the command sfdx sfpowerkit:source:apextest:list its not recognizing a test class in the given path

**Expected behavior**
For the command to recognize the class as a test class and list it from a json file.

**Screenshots**
![image](https://user-images.githubusercontent.com/74693968/133175390-f38fd237-43f3-479b-9ac1-720f77f11325.png)
![image](https://user-imag

[2021-09-17 07:02] rubiatoEJ opened #567 "Using sfdx sfpowerscripts:package:data:install to recognize back slash in VlocityComponents.yaml"
**Is your feature request related to a problem? Please describe.**
When backslash is used in projectPath in VlocityComponents.yaml
![image](https://user-images.githubusercontent.com/88638065/133738041-fcec75f8-fcab-4605-ac6f-f9f1a336052b.png)

**Describe the solution you'd like**
If it can be recognized as part of the path and not an escape character.

**Describe alternatives you've considered**
N

[2021-09-17 07:20] rubiatoEJ commented on #567
Moved to sfpowerscripts repository

[2021-09-17 07:20] #567 closed

[2021-09-17 13:31] willvoyle opened #569 "Failing to Install in AzureDevOps Pipeline"
**Describe the bug**
Building an SFDX project using AzureDevOps Pipeline. The first Task is "Install SFDX with sfpowerkit" which fails to install, it just hangs the pipeline.

The pipeline was working fine at 15/09/2021 17:41 GMT. The pipeline started to fail at 17/09/2021 10:20 GMT.
[ADO-InstallSFDX-Success-Log.txt](https://github.com/Accenture/sfpowerkit/files/7185990/ADO-InstallSFDX-Success-Log

[2021-09-20 17:42] vuha-acn commented on #553
@azlam-abdulsalam  - Any prioritization for this item for the next release?

[2021-09-21 07:33] luda-23 opened #570 "Azure Pipelines - Error running sfpowerkit:project:diff - Must use import to load ES Module"
**Describe the bug**
Azure pipelines would fail during the Build Delta task after the Install SFDX task with this error:

ERROR running sfpowerkit:project:diff:  Must use import to load ES Module: /home/vsts/.local/share/sfdx/node_modules/dateformat/lib/dateformat.js
require() of ES modules is not supported.
require() of /home/vsts/.local/share/sfdx/node_modules/dateformat/lib/dateformat.js from /

[2021-09-21 07:51] azlam-abdulsalam commented on #570
Thanks @luda-23  for the detailed issue report. We will look into it

[2021-09-21 11:05] MarcDBehr opened #571 "Error when running sfpowerkit:source:profile:retrieve"
Running on a Macbook (Big Sur 11.6) with sfdx (sfdx-cli/7.118.1 darwin-x64 node-v15.14.0) and trying to retrieve the profiles from a partial data sandbox, I just started getting this error:

[code]

Tried on 2 different Macbooks with the same results. The command shows that it got to 20/37 profiles and then it stops.

[2021-09-21 11:12] azlam-abdulsalam commented on #571
@genoud  Can you look into this?

@MarcDBehr  Can you run this without json flag and loglevel trace and send us the logs

[2021-09-21 11:37] MarcDBehr commented on #571
Did some more testing. Ran the same command against the same org and repository branch on a Linux system and got the same error. I then tried running the command without the -f option/parameter and it worked fine on both the Linux and Mac.

The files in the profile directory were:

[code]

[2021-09-21 11:40] MarcDBehr commented on #571
Without the json and loglevel flags, I get

[code]

[2021-09-22 00:41] genoud commented on #571
Hi @MarcDBehr

This is because you have in you folder a profile with the fullName tag in the content not matching the profile file name.

Thanks

[2021-09-22 10:41] MarcDBehr commented on #571
Hi @genoud

Interesting... not sure how we were able to download profiles like this, but it looks like we have 2 profiles that are missing the fullName tag completely.

Would it be possible to add something into the code that when an issue occurs (like this) that the offending profile name be written out? Also, the process seems to hang when this occurs, so maybe it would also exit rather than han

[2021-09-22 11:19] azlam-abdulsalam commented on #571
@MarcDBehr  Is these the profiles with "(" or any other characters in their names. I have seen an issue where SF started encoding the filenames but the api says otherwise

[2021-09-22 12:38] MarcDBehr commented on #571
@azlam-abdulsalam It does not look like that was the issue. I found that there was one profile that I had locally that was not installed in the specified org that I ran the reconcile against. If I tried to reconcile with an org that had that profile, it worked fine.

The error message

[2021-09-22 12:44] azlam-abdulsalam commented on #571
@genoud  lets handle this scenario, by reporting it in the end what we are not able to fetch. What so you think?

[2021-09-23 02:41] genoud commented on #571
I pushed the fix. I was wrong. This was happening because some profiles in the folder does not exist in target org. So even if the fullName tag is missing or does not match the file name, the retrieve should work.

[2021-09-23 12:48] nabondance opened #573 "sfdx sfpowerkit:pool:create output json "strict mode" warning"
**Describe the bug**
When creating scratch org in the pool, we have a message about items "not specified or different".
This happens even if the json schema is valid (checked using https://github.com/Accenture/sfpowerkit/blob/main/resources/so_pool_config.schema.json).
This happen even with both examples (https://github.com/Accenture/sfpowerkit/tree/main/schemas/pool/examples).

**To Reproduce**
S

[2021-09-24 20:55] genoud commented on #571
@MarcDBehr can you test the change?

[2021-09-26 18:18] DavyHuijgens2MD opened #574 "sfpowerkit:pool:fetch fails on force:org:shape:list"
When retrieving a scratch org from the pool the command fails on doing a force:org:shape:list which is not needed.

**To Reproduce**
Steps to reproduce the behavior:

Retrieve a scratch org from the pool.

sfdx sfpowerkit:pool:fetch -t poolname -v DEVHUB -a SCRATCH

It succesfully retrieves an org and then fails:

ERROR running sfpowerkit:pool:fetch:  Command failed: sfdx force:org:shape:list
ERRO

[2021-09-29 10:16] jacobpeterson2012 opened #575 "sfpowerkit:project:diff project package filter not working correctly"
**Describe the bug**

**_Given_** a project directory structure:
[code]
and  sfdx-project.json package has the **sfdx-src/env-src/dev** path for a package

**_When_**  a change is made in sfdx-src/env-src/**devops**

**_Then_** the package build is not excluding the change.

**To Reproduce**
Steps to reproduce the behavior:

1. create the above project structure
2. commit a change in the **devops*

[2021-09-29 11:37] austinmyer opened #576 "Compare package versions between source and destination environments"
**Is your feature request related to a problem? Please describe.**
When we are working in enterprise digital tranformation projects, there are quite a few sandboxes (Dev, STs, SIT, UAT, Staging, PreProd, DRs) to be kept in sync, especially the base packages and manage packages (nCino, Apttus etc). It's  manual task to cross check the packages at times

**Describe the solution you'd like**
Compare

[2021-09-29 15:01] #515 closed

[2021-09-29 18:13] MarcDBehr opened #577 "Profile user permission not being pulled down correctly during retrieve"
**Describe the bug**
Profile user permission not being pulled down correctly. Specifically the "EmailTemplateManagement" userPermissions

**To Reproduce**
Steps to reproduce the behavior:

1. Using SOQL, look at the PermissionsEmailTemplateManagement value for a profile ```select id,name, PermissionsEmailTemplateManagement From Profile where PermissionsEmailTemplateManagement = true``` and ensure

[2021-09-29 22:11] azlam-abdulsalam commented on #575
@jacobpeterson2012  is sfdc-src in the project path as well?

[2021-09-30 03:58] azlam-abdulsalam commented on #577
Thanks @MarcDBehr  for raising this. We are looking into it

[2021-09-30 12:06] MarcDBehr commented on #577
2 other settings that don't seem to get pulled down correctly are:

- FlowUFLRequired
- EmailAdministration

All 3 of these userPermissions setting are not visible via the UI, but exist and have consequences if set improperly (I found out the hard way)

[2021-09-30 20:48] azlam-abdulsalam commented on #577
Thanks @MarcDBehr. Interesting how we missed this so far

[2021-09-30 20:53] azlam-abdulsalam commented on #565
@aly76  any updates on this?

[2021-10-01 02:32] genoud commented on #577
Hi @MarcDBehr

The goal behind the retrieve is to retrieve the whole configuration of profiles. But when we read the profile from Salesforce, only userPermissions set to true are returned. We wanted to have a complete view of profiles even userPermissions that are set to false.
That's why we assumed that userPermissions available in an org and that are not returned when profiles are read should be

[2021-10-01 02:35] genoud commented on #577
I'm just wondering why salesforce would hide some permissions on the UI and let them accessible and editable throw API.

[2021-10-01 04:47] jacobpeterson2012 commented on #575
@azlam-abdulsalam no it's not a project path.

[2021-10-01 10:08] MarcDBehr commented on #577
Makes no sense to me either. I was burned by this this week. We used your program to retrieve the profiles from a sandbox and when they got pushed to production during a release, having the EmailTemplateManagement false causes all of our users (except admins)  to completely lose  access to all email templates. 2 days of headaches. I was able to see in the audit log that 3 permissions (these 3) wer

[2021-10-03 11:51] azlam-abdulsalam commented on #577
Ah @MarcDBehr  sorry for that, Thanks for raising this.

[2021-10-04 12:49] #575 closed

[2021-10-04 12:49] #573 closed

[2021-10-05 01:30] #574 closed

[2021-10-05 01:34] #571 closed

[2021-10-06 19:54] azlam-abdulsalam commented on #577
@genoud  Any idea, why we mark this as false? If its hidden in the UI, can we disregard it

[2021-10-11 08:49] lDante93 opened #583 "Problem with special characters in file names."
Hello.
I've discovered that some of my classes aren't added properly for CI/CD processes using sfdx sfpowerkit:project:diff command. When I have checked my commits included in Pull Request with git diff command, everything worked properly and all files were included, hovewer project diff created with sfpowerkits does not included all of the files. I have found that files that are not included have

[2021-10-13 17:35] MarcDBehr commented on #577
something new that I noticed today... using 3.2.3, if I do a retrieve of the Admin profile, none of the userPermissions settings are being retrieved (and if there were any in the profile previously, they are gone after the retrieve command). It does not seem to be doing the same thing with other profiles, only the Admin one.... seems odd

[2021-10-26 20:05] mlabrosse6 opened #587 "Required fields in an org not reconciled in profile metadata when the original metadata has fieldPermissions equals false"
Describe the bug
When a profile is retrieved from an org where a field is not a required field and it does not have any field access granted, and then the profile is reconciled with an org where the same field IS a required field, the reconciled profile metadata field level permissions for the field are not updated and there is an error trying to deploy to the org where that field is required.

To

[2021-10-27 16:14] avesolovksyy opened #588 "After log in with 'sfpowerkit:auth:login' cannot create scratch org - 'client identifier invalid' error (works when log in via 'sfdx force:auth:web:login')"
**Describe the bug**
We are getting an error **Error authenticating with auth code due to: client identifier invalid** when trying to create a scratch org with standard sfdx command. After days of digging we've finally figured out that error happens only when we are logging into dev hub via `sfpowerkit:auth:login` command. When using standard `sfdx force:auth:web:login` command to log in into dev

[2021-10-29 07:07] satishpersonal opened #591 "sfpowerkit gives unknown/standard error in diff command when XML is invalid"
When there is a Invalid XML the diff command gives a unknown/standard error rather than giving the exact error of Invalid XML [Filename]

**To Reproduce**
Generate a Invalid XML in any component
When the Diff Command runs it will give you a standard error instead of letting us know the exact error (Invalid XML/Component)

1. sfdx sfpowerkit:project:diff -d delta -r HEAD~ -t HEAD --json --loglevel

[2021-11-01 13:38] larspetterjohnsen opened #592 "sfpowerkit:package:dependencies:install Fails with syntax error"
**Describe the bug**
While running the command sfpowerkit:package:dependencies:install, the actual force:package:install command fails with message: ERROR running force:package:install:  core_1.ConfigAggregator.getValue is not a function
**To Reproduce**
sfpowerkit:package:dependencies:instal with a valdid XML

**Expected behavior**
Depenandicies are installed

**Screenshots**
If applicable, add s

[2021-11-01 19:56] azlam-abdulsalam commented on #592
This is quite weird. Did you had any errors during installation?